<%= form_tag worker_invitation_lists_path %>
<div class="row">
	<div class="small-12 medium-7 large-8 columns invite">
	  <%= text_field_tag :email_addresses, nil, autocomplete: "off", placeholder: "Enter a List of Emails to Invite" %>
	</div>     
	<div class="small-12 medium-5 large-4 columns invite">
	  <%= submit_tag "Submit Request", :onclick => "return confirm('Please confirm that you would like your organization to join this event')", :class => "button" %>
	</div>   
</div>
</form>
