<ol class="joyride-list" data-joyride>
  <li data-id="welcome-alert" data-text="Next" data-options="prev_button: false">
    <p>Welcome to the New Crisis Cleanup. Click Next for a quick tutorial.</p>
  </li>
  <li data-text="Next" data-prev-text="Prev">
    <p>Click "Map" to view and edit all work orders in this incident.</p>
    <p>To add a new work order, click "New+"</p>
    <p>Click on the "Dashboard" link to return to this page. You can also click here to view contacts, other organization contact information, browse cases, see incident stats, or request to redeploy to a new incident.</p>
  </li>
  <li data-id="alert-container" data-text="Next" data-prev-text="Prev">
    <p>Alerts appear here. You may hide an alert by clicking the "X".</p>
  </li>
  <li data-id="incident-chooser" data-text="Next" data-prev-text="Prev">
    <p>Choose your current incident by selecting from this dropdown.</p>
  </li>
  <li data-id="invite-button" data-text="Next" data-prev-text="Prev">
    <h4>IMPORTANT</h4>
    <p>Invite other members of your team and all team leaders. When everyone in your organization participates, you spread the administrative burden and ensure accurate records. Enter email addresses here to invite others.</p>
  </li>
  <li data-id="temp-password-button" data-text="Next" data-prev-text="Prev">
    <h4>"Back of the Pickup Truck Invite:"</h4>
    <p>Let's say you're in the field on the back of a pickup truck, and you want to quickly sign up a team of 25 people. You're clearly not going to type in everybody's email on your phone. <br />Instead, click this button and the system will generate a random password (good for 30 minutes). Shout that password from the back of the pickup, and your entire team uses that temporary password to register, in minutes. They're automatically pre-approved, then they choose their own password.</p>
  </li>
  <li data-text="Done" data-prev-text="Prev">
    <p>If you need help, click the help button below.</p>
  </li>
</ol>