<ol class="joyride-list" data-joyride>
  <li data-text="Next" data-options="prev_button: false">
    <p>This is the map. Click Next for a quick tutorial.</p>
  </li>
  <li data-id="incident-chooser" data-text="Next" data-prev-text="Prev">
    <p>Choose your current incident by selecting from this dropdown.</p>
    <p>To add a new work order, click "New+"</p>
    <p>To browse cases, click "Dashboard," then "Browse."</p>
  </li>
  <li data-id="map-search-btn" data-text="Next" data-prev-text="Prev">
    <p><strong>Search</strong>: Search for resident names, addresses, or case numbers here. For the case number "A5" search "A5:" to exclude "A50" and "A500".</p>
    <p><strong>Filter</strong>: To filter out damage assessments and focus on work orders that are ready for action, use the filters below.</p>
  </li>
  <li data-id="download-csv-btn" data-text="Done" data-prev-text="Prev">
    <p><strong>Download and Reports</strong>: Click this button to get a current report of all work orders (damage assessments not included).</p>
  </li>
</ol>