<h4>Pending Invitations</h4>
<p><em>Note: Due to some known bugs, this table may not always be up to date.</em></p>
<table>
  <thead>
    <tr>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% if @pending_invitations %>
      <% @pending_invitations.each do |pending_invitation| %>
        <tr>
          <td> <%= pending_invitation.invitee_email %> </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>