<%= form_tag redeploy_request_path %>
<div class="row">
	<div class="small-12 medium-7 large-8 columns invite">
	  <label>Event</label>
	  <%= select_tag "Event", options_from_collection_for_select(Legacy::LegacyEvent.all, "id", "name", "1") %>
	</div>

	<div class="small-12 medium-12 large-12 columns invite">
	  <%= submit_tag "Submit", :class => "button" %>
	</div>   
</div>
