<%= form_tag worker_temporary_passwords_path %>
<div class="row">
	<div class="small-6 medium-3 large-4 columns invite">
	  <%= text_field_tag :password, nil, autocomplete: "off", placeholder: "Enter password that will be valid for 30 min." %>
	</div> 
	<div class="small-6 medium-3 large-4 columns invite">
	  <%= text_field_tag :password_confirmation, nil, autocomplete: "off", placeholder: "Confirm password" %>
	</div>         
	<div class="small-12 medium-5 large-4 columns invite">
	  <%= submit_tag "Submit Password", :onclick => "return confirm('Please confirm that you would like to invite users using this temporary password. Each person who uses this temporary password will be linked to your personal account for legal purposes.')", :class => "button" %>
	</div>   
</div>
</form>