<%= form_tag worker_temporary_passwords_path %>
  <div class="small-12 medium-7 large-8 columns invite">
    <p>Are you in the field, and need to invite dozens of volunteers? Click "Generate Password", then shout it to your team. They may register themselves by clicking "<a href="/worker/temporary_passwords/new">I have a temporary password</a>" on the Login screen.</p>
    <p>This password will expire 30 minutes from the time you create it. There is no limit to the number of passwords you may create.</p>
    <p class="temporary_password"><%= notice if notice and notice.include? "Temporary password" %></p>
  </div>
  <div class="small-12 medium-5 large-4 columns invite">
    <%= submit_tag "Create Temporary Password", :onclick => "return confirm('Only share this temporary password with authorized, trusted people from your organization. Users who use this password will be connected with you.')", :class => "button" %>
  </div>
</form>
