<%= form_tag worker_temporary_passwords_path %>
<p>This password will expire 30 minutes from the time you create it.</p>
<div class="row">
	<div class="small-12 medium-5 large-4 columns invite">
	  <%= submit_tag "Generate Random Password", :onclick => "return confirm('Only share this temporary password with authorized, trusted people from your organization. To maintain transparency and accountability, we keep records of who invited whom, so users who use this password will be connected with you.')", :class => "button" %>
	</div>   
</div>
</form>