<% content_for :title do %>
    Crisis Cleanup - Redeploy Form
<% end %>

<% content_for :subheader do %> 
<div class="row subheader">
    <div class="small-12 medium-8 large-10 columns">
        <h2>Organization Redeploy Form</h2>
        <hr class="medium">        
    </div>
    <div class="small-12 medium-4 large-2 columns" align="center">
        <%= image_tag "characters/Workers Shovel Hammer-Team1.png", :class => "character" ,:alt => "worker dashboard"  %>
    </div>
</div>
<% end %>
       
<% content_for :main do %> 
<div id="main" class="alt">
    <p>Complete this form to request access to another Crisis Cleanup incident.</p>
    <p>If you are deploying to a new incident and want to set up Crisis Cleanup, please <a href="/new_incident">request a new incident</a>.</p>
    <div class="row">
    <%= render 'redeploy_form' %>
    </div>
</div>    
<% end %>
