<% content_for :title do %>
    Crisis Cleanup - Redeploy Form
<% end %>

<% content_for :subheader do %> 
<div class="subheader">
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
    <h2>Worker Redeploy Form<h2>
    <hr>
        </div>
    </div>    
</div>    
<% end %>
       
<% content_for :main do %> 
<div id="main" class="alt">
    <%= render 'redeploy_form' %>
</div>    
<% end %>

