<% content_for :title do %>
    Crisis Cleanup - Redeploy Form
<% end %>

<% content_for :subheader do %> 
<div class="subheader">
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
    <h2>Organization Redeploy Form</h2>
    <hr />
        </div>
    	<p>Complete this form to request access to another Crisis Cleanup incident. If you are deploying to a new incident and want to set up Crisis Cleanup, please <a href="/new_incident">request a new incident</a>.</p>
    </div>    
</div>    
<% end %>
       
<% content_for :main do %> 
<div id="main" class="alt">
    <%= render 'redeploy_form' %>
</div>    
<% end %>
