<% content_for :title do %>
    Crisis Cleanup - Redeploy Form
<% end %>

<% content_for :subheader do %> 
<div class="row subheader">
    <div class="small-12 medium-8 large-10 columns">
        <h2>Redeploy: Request Access</h2>
        <hr class="medium">        
    </div>
    <div class="small-12 medium-4 large-2 columns" align="center">
        <%= image_tag "characters/Workers Shovel Hammer-Team1.png", :class => "character" ,:alt => "worker dashboard"  %>
    </div>
</div>
<% end %>
       
<% content_for :main do %> 
<div id="main" class="alt">
   <!--<p>Our regular redeploy process is having a little trouble. Please <a href="https://crisiscleanup.zendesk.com/hc/en-us/requests/new" target = "_blank">submit a helpdesk ticket</a> and include the following items in your request:
        <ul>
            <li>Your Organization (LDS volunteers: Include your stake, please).</li>
            <li>The email address you use to log in.</li>
            <li>The incident to which you are requesting access (e.g. "Texas Floods," or "Hurricane Michael.")</li>
            <li>Your name</li>
        </ul>
    We will notify you as soon as you have access.</p>-->
    <p>Need access to another incident? Choose below, and we will review the request and either give you access or contact you. You should receive an email once access is granted. The process usually takes a few hours.</p>
    <p>If you are deploying to a new incident and want to set up Crisis Cleanup, please <a href="https://crisiscleanup.zendesk.com/hc/en-us/requests/new">request a new incident</a>.</p>
    <div class="row">
    <%= render 'redeploy_form' %>
    </div>
</div>    
<% end %>
