/* PUBLIC PAGES
   ----------------------------- */

#wrapper {
    max-width: 96%;
    margin-left: 2%;
    display: table;
}

// Sidebar Template
.alt {
    display: table-cell;
    width: 70%;
    & p, ul {
        width: 95%;
    }
}

#sidebar {
    width: 30%;
    left: 70%;
    display: table-cell;
    background-color: gainsboro;
    border: 2px solid $smoke;
    & h4, p, ul li {
        width: 90%;
        margin-left: 5%;
    }
    & h4 {
        margin-top: 10px;
    }
    & img {
    width: 95%;
    margin-left: 2.5%;
    margin-bottom: 20px;
    border-radius: 5px 5px;
    height: auto;
    }
    & .expand {
        width: 90%;
        margin-left: 5%;
    }
}

.sideblock {
    & .columns {
        border-radius: 5px 5px;
    }
    & h4,
    p {
        color: #fff!important;
    }
    & h4 {
        margin-top: 10px;
    }
}


// Videos & Third Party Media
.index-intro {
    width: 95%;
    margin-left: 2.5%;
    height: 200px
}
.about-intro {
    width: 95%;
    height: 315px;
}


// Home Page
.splash-image {
    width: 100%;
    height: 575px;
    background: image-url('ccu-home-slide.png') bottom center;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center right;
    overflow: visible;
}

.splash-image-cta-section {
    padding-top: 75px;
    margin-left: 20px;
    margin-right: auto;
    text-align: left;
    & h3 {
        margin-bottom: 20px;
    }
    & h4 {
        color: #333;
        margin-bottom: 20px;
    }
    & form {
        width: 70%;
        & button.gray-block:hover {
            background-color: $clay;
        }
    }
}

// infobox
#map-infobox {
  display: none;
  z-index: 2;
  position: absolute;
  bottom: 0;
  background-color: #fff;
  border-top: 2px solid #5c5c5c;    
  border-right: 2px solid #5c5c5c;    
  border-left: 2px solid #5c5c5c;        
  padding: 0 8px;
  height: 215px;
  width: 60%;
  left: 215px;
  overflow-y: scroll;
  & .close {
    z-index: 3;
    position: absolute;
    right: 0.25rem;
    top: 0.25rem;
    background: inherit;
    color: #333333;
    font-size: 1.375rem;
    opacity: 0.3;
    padding: 0 6px 4px;
  }
    & .button {
        margin-right: 5px;
    }
}

@media only screen and (max-width: 640px) {
    .splash-image {
        width: 100%;
        height: 575px;
        background: image-url('ccu-home-slide-at-640.jpg') bottom center;
        background-size: cover;
        background-position: bottom center;
        overflow: visible;
    }
    .splash-image-cta-section {
        padding-top: 10px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        & h3 {
            font-size: large;
        }
        & h3, h4 {
            margin-bottom: 0;
        }
        & form {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.timeline {
    scroll: auto;
    & p {
        border-bottom: 1px solid $off-white;
    }
}

.home_coordinated_disasters {
    & h3 {
        color: #fff;
    }
    & img {
        width: 100px;
        height: 100px;
    }
    margin-bottom: 40px;
}

.cta {
    margin: 20px 0 20px 0;
    padding: 20px 0 20px 0;
    & h2, h3, h4, p {
        margin-left: 13%;
    }
}

.cta .columns .button {
    margin-top: 20px;
}
.join {
    margin-top: 20px;
    margin-left: 30px;
}

// About Page
.team {
    display: inline-block;
    & p {
        text-align: right;
    }
    & img {
        vertical-align: middle;
        border-radius: 5px 5px;
        width: 100%;
        height: auto;
    }
    & i {
        font-size: 25px;
        transition: all 0.5s ease;
        margin-top: -5px;
        float: left;
        &:hover {
            color: $jade;
        }
    }
    & .has-tip {
        float: left;
    }
}

// Media Queries

@media only screen and (max-width: 1280px) {
    .tornado-block,
    .hurricane-block,
    .flood-block,
    .snow-block,
    .fire-block,
    .wind-block {
        height: 325px;
    }
}

@media only screen and (max-width: 1024px) {
    .incident-map img {
        margin-bottom: 40px;
    }
    .tornado-block,
    .hurricane-block,
    .flood-block,
    .snow-block,
    .fire-block,
    .wind-block {
        height: 275px;
    }    
}

@media only screen and (max-width: 767px) {
    .alt {
        display: block;
        width: 100%;
        clear: both;
        & p {
            width: 100%;
        }
    }
    #sidebar {
        width: 100%;
        clear: both;
        display: block;
        padding: 10px 0 10px 0;
        background-color: gainsboro;
    }
    #copyright .right {
        margin-right: 0;
    }
    .tornado-block,
    .hurricane-block,
    .flood-block,
    .snow-block,
    .fire-block,
    .wind-block {
        height: 300px;
    }   
}