/* PUBLIC PAGES
   ----------------------------- */

#wrapper {
    max-width: 96%;
    margin-left: 2%;
    display: table;
}

.alt {
    // Sidebar Template
    display: table-cell;
    width: 70%;
    & p, ul {
        width: 95%;
    }
}

// Sidebar Template
#sidebar {
    width: 30%;
    left: 70%;
    display: table-cell;
    background-color: gainsboro;
    border: 2px solid $smoke;
    & h4, p, ul li {
        width: 90%;
        margin-left: 5%;
    }
    & h4 {
        margin-top: 10px;
    }
    & img {
    width: 95%;
    margin-left: 2.5%;
    margin-bottom: 20px;
    border-radius: 5px 5px;
    height: auto;
    }
}

.sideblock {
    & .columns {
        border-radius: 5px 5px;
    }
    & h4,
    p {
        color: #fff!important;
    }
    & h4 {
        margin-top: 10px;
    }
}


// Videos & Third Party Media
.index-intro {
    width: 95%;
    margin-left: 2.5%;
    height: 200px
}
.about-intro {
    width: 95%;
    height: 315px;
}


// Home Page
.orgs {
    & img {
        width: 50%;
        vertical-align: middle;
        width: 50%;
        height: auto;
    }
    & .columns {
        transition: all 0.5s ease;
        min-height: 305px;
    }
    & .audience {
        margin-bottom: 0;
    }
    & .voad {
        background-color: rgba(65, 156, 56, .2);
    }
    & .voad:hover {
        background-color: rgba(65, 156, 56, .5);
    }
    & .gov {
        background-color: rgba(27, 132, 206, .2);
    }
    & .gov:hover {
        background-color: rgba(27, 132, 206, .5);
    }
    & .volunteers {
        background-color: rgba(221, 161, 0, .2);
    }
    & .volunteers:hover {
        background-color: rgba(221, 161, 0, .5);
    }
    & .survivors {
        background-color: rgba(211, 37, 25, .2);
    }
    & .survivors:hover {
        background-color: rgba(211, 37, 25, .5);
    }
}

.orgs .columns p {
    color: $coal;
}

.timeline {
    scroll: auto;
    & p {
        border-bottom: 1px solid $off-white;
    }
}

.incident-map {}

.home-icons {
    margin: 40px 0 0 0;
    & img {
        vertical-align: middle;
        margin: 0 0 0 25%;
        width: 50%;
        height: auto;
    }
    & h2,
    h3,
    p {
        text-align: center;
    }
    & .columns {}
}

.tornado-block,
.hurricane-block,
.flood-block,
.snow-block,
.fire-block,
.wind-block {
    margin-bottom: 0;
    & h3, p {
        color: #fff;
    }
    & img {
        margin-left: auto;
        margin-right: auto;
        vertical-align: middle;
        width: 150px;
        height: 150px;
    }
}

.tornado-block {
    background-color: $berry;
}

.hurricane-block {
    background-color: $mustard;
}

.flood-block {
    background-color: $royal;
}

.snow-block {
    background-color: $forest;
}

.fire-block {
    background-color: $coal;
}

.wind-block {
    background-color: $terra;
}

.join {
    margin-top: 20px;
    margin-left: 30px;
}

// About Page
.team {
    display: inline-block;
    & p {
        text-align: right;
    }
    & img {
        vertical-align: middle;
        border-radius: 5px 5px;
        width: 100%;
        height: auto;
    }
    & i {
        font-size: 25px;
        transition: all 0.5s ease;
        margin-top: -5px;
        float: left;
        &:hover {
            color: $jade;
        }
    }
    & .has-tip {
        float: left;
    }
}

// Media Queries

@media only screen and (max-width: 1280px) {
    .tornado-block,
    .hurricane-block,
    .flood-block,
    .snow-block,
    .fire-block,
    .wind-block {
        height: 325px;
    }
}

@media only screen and (max-width: 1024px) {
    .incident-map img {
        margin-bottom: 40px;
    }
    .tornado-block,
    .hurricane-block,
    .flood-block,
    .snow-block,
    .fire-block,
    .wind-block {
        height: 275px;
    }    
}

@media only screen and (max-width: 767px) {
    .alt {
        display: block;
        width: 100%;
        clear: both;
        & p {
            width: 100%;
        }
    }
    #sidebar {
        width: 100%;
        clear: both;
        display: block;
        padding: 10px 0 10px 0;
        background-color: gainsboro;
    }
    #copyright .right {
        margin-right: 0;
    }
    .tornado-block,
    .hurricane-block,
    .flood-block,
    .snow-block,
    .fire-block,
    .wind-block {
        height: 300px;
    }   
}