<% content_for :title do %>
    Crisis Cleanup - Contact
<% end %>

<% content_for :main do %>
	<div class="row">
		<div class='small-12 medium-12 large-12 columns'>
        	<h3>Do you have questions or feedback?</h3>		
		</div>
	</div>
	<div class="row">
		<div class='small-12 medium-12 large-12 columns'>
			<p>Crisis Cleanup LLC, a New Jersey LLC, is the fiscal agent for this implementation of the <a href="https://github.com/aarontitus/crisiscleanup">Crisis Cleanup project</a>.</p>
			<p>Contact us through our <a href="https://crisiscleanup.zendesk.com/hc">Help and Support Desk</a>. Or email help@[thiswebsite], send a tweet to <a href="https://twitter.com/CrisisCleanup">@CrisisCleanup</a>, reach us on our <a href="https://www.facebook.com/pages/Crisis-Cleanup/437690172982553?fref=ts">Facebook Page</a> (not always monitored), or call (848) 480-0660 for support (as volunteers are available). <em>Note: Contact Crisis Cleanup for technical support only.</em> If you are a survivor requesting assistance, please contact a voluntary agency with access to Crisis Cleanup. They may enter your request into the system.</p>
			<!--<p>Please donate through our <a href="/donate">Fundraiser Page</a>.</p>-->
			<p>Thank you for your time and interest.</p>
        </div>


</div>
<%end%>
