<% content_for :title do %>
    Crisis Cleanup - Contact
<% end %>

<% content_for :main do %>
	<div class="row">
		<div class='small-12 medium-12 large-12 columns'>
        	<h3>Do you have questions or feedback?</h3>		
		</div>
	</div>
	<div class="row">
		<div class='small-12 medium-12 large-12 columns'>
			<p>Crisis Cleanup LLC, a New Jersey LLC, is the fiscal agent for this implementation of the <a href="https://github.com/aarontitus/crisiscleanup">Crisis Cleanup project</a>.</p>
			<p><strong>Please read this BEFORE contacting us:</strong>
				<ul>
					<li><strong>If your home has been damaged:</strong> Please do not call tech support. please contact a voluntary agency with access to Crisis Cleanup. They may enter your request into the system.</li>
					<li><strong>American Red Cross, 2-1-1, FEMA, etc:</strong> Crisis Cleanup does not provide direct-to-client services. Crisis Cleanup only serves relief agencies. It is a coordination platform for cleanup crews. Please <u>do not send the public to crisiscleanup.org or share our contact information with the public</u>. If a 1-800 number is listed at the the top left corner of this page, share that with the public.</li>
				</ul>
			</p>
			<p>For technical support, contact us through our <a href="https://crisiscleanup.zendesk.com/hc">Help and Support Desk</a>. Or email help@[thiswebsite], send a tweet to <a href="https://twitter.com/CrisisCleanup">@CrisisCleanup</a>, <!--reach us on our <a href="https://www.facebook.com/pages/Crisis-Cleanup/437690172982553?fref=ts">Facebook Page</a> (not always monitored), -->or call (848) 480-0660 (as volunteers are available).</p>
			<!--<p>Please donate through our <a href="/donate">Fundraiser Page</a>.</p>-->
			<p>Thank you for your time and interest.</p>
        </div>


</div>
<%end%>
