<% content_for :title do %>
    Crisis Cleanup - Contact
<% end %>

<% content_for :main do %>
	<div class="row">
		<div class='small-12 medium-12 large-12 columns'>
        	<h3>Do you have questions or feedback?</h3>		
		</div>
	</div>
	<div class="row">
		<div class='small-12 medium-12 large-12 columns'>
			<p>
			<table border = "0">
				<tr>
					<th>If you...</th>
					<th>Then please do this:</th>
				</tr>
				<tr>
					<td><strong>Need Help Cleaning Up</strong></td>
					<td>Call 800-451-1954 or 844-965-1386 after major disasters. After local disasters, call 2-1-1 or the American Red Cross.</td>
				</tr>
				<tr>
					<td><strong>Are the American Red Cross, 2-1-1, FEMA, etc:</strong></td>
					<td>Do not refer the public to crisiscleanup.org. Crisis Cleanup does not provide direct-to-client services. Crisis Cleanup only serves relief agencies. It is a coordination platform for cleanup crews. After major disasters, refer them to 800-451-1954 or 844-965-1386 to be placed on the map.</td>
				</tr>
				<tr>
					<td><strong>Want to Volunteer</strong></td>
					<td>Unfortunately, Crisis Cleanup does not take volunteers directly (unless you are a Ruby/JS/Postgres developer). Volunteer through a relief agency to use Crisis Cleanup.</td>
				</tr>
				<tr>
					<td><strong>Need Tech Support</strong></td>
					<td>For technical support, contact us through our <a href="https://crisiscleanup.zendesk.com/hc">Help and Support Desk</a>. Or email help@[thiswebsite], send a tweet to <a href="https://twitter.com/CrisisCleanup">@CrisisCleanup</a>, <!--reach us on our <a href="https://www.facebook.com/pages/Crisis-Cleanup/437690172982553?fref=ts">Facebook Page</a> (not always monitored), -->or call (848) 480-0660 (as volunteers are available).</td>
				</tr>
			</table>
			</p>
			<p>Crisis Cleanup LLC, a New Jersey LLC, is the fiscal agent for this implementation of the <a href="https://github.com/aarontitus/crisiscleanup">Crisis Cleanup project</a>.</p>
			<!--<p>Please donate through our <a href="/donate">Fundraiser Page</a>.</p>-->
			<p>Thank you for your time and interest.</p>
        </div>


</div>
<%end%>
