<% content_for :title do %>
    Crisis Cleanup - Contact
<% end %>

<% content_for :main do %>
	<div class="row">
		<div class='small-12 medium-12 large-12 columns'>
        	<h3>Do you have questions or feedback?</h3>		
		</div>
	</div>
	<div class="row">
		<div class='small-12 medium-12 large-12 columns'>
	       <p>Contact us at info@crisiscleanup.org</p>
        </div>
</div>
<%end%>
