<% content_for :title do %>
    Crisis Cleanup - Government
<% end %>

<% content_for :subheader do %>
<div class="row subheader">
    <div class="small-12 medium-8 large-10 columns">
        <h2>Government</h2>
        <h4 class="basic">How Government can Access Crisis Cleanup</h4>
    </div>
    <div class="small-12 medium-4 large-2 columns" align="center">
        <%= image_tag "characters/Clipboard Guy3.png", :class => "character" ,:alt => "Crisis Cleanup and Government Agencies"  %>
    </div>
    <hr class="medium">
</div>
<% end %>

<% content_for :main do %>
<div id="main" class="alt">
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
        <h3>Ready to Deploy</h3>
        <p>Crisis Cleanup may be deployed to any disaster, with or without a declaration. Local voluntary relief agencies (e.g. VOAD) or a government agency can request deployment. Please allow 6-24 business hours for setup.</p>

        <h3>Government Access</h3>

        <p>Crisis Cleanup helps organizations that <em>interact directly with survivors</em>, as they fix damaged property after a disaster. Crisis Cleanup must be useful to team leaders on the ground, <em>and</em> maintain the trust of the voluntary agencies.</p>
        <p>Crisis Cleanup information can be valuable to government. We must respect the privacy of clients and the wishes of local VOADs. Right now, government does not have access to Crisis Cleanup without an express invitation from the local VOAD.</p>
            <p><em>In the future (BUT NOT CURRENTLY)</em>, Crisis Cleanup will permit appropriately limited access to government. For example, City X in Texas doesn't need to see what's going on in City Y, in Oklahoma.</p>
        <p>See our <a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200603007#requirements">full access policy</a>, and <a href="/contact">Contact Us</a> if you have any questions.</p>
        <!--<p><a href=""><button>Sign Up as Government!</button></a></p>-->
        </div>
    </div>
</div>
<% end %>

<% content_for :sidebar do %>
<div id="sidebar">
    <h4>Real Innovation</h4>
    <p>The real innovation of this system is the ability to coordinate tens of thousands of volunteers from dozens of organizations to thousands of sites after a disaster. Crisis Cleanup proves that it is possible to create a near frictionless technological platform where inter-organization Cooperation, Communication, Coordination, and Collaboration is not only convenient, but required.
    </p>
    <!--
    <h4>Turnkey Solution</h4>
    <p>Crisis Cleanup free to reputable voluntary relief organizations, and can be deployed with 6-hours' notice (or less). There are no size or declaration requirements.</p>

    <h4>Impact and Return on Investment (ROI)</h4>
<p>Crisis Cleanup is not-for-profit, which means we don't measure ROI in dollars, but in community impact. Impact measurements include:</p>
<ul>
    <li><strong>32</strong>: Number of disaster relief efforts assisted since July, 2012.</li>
    <li><strong>22</strong>: States in which Crisis Cleanup has been used.</li>
    <li><strong>4</strong>: Number of countries using Crisis Cleanup.</li>
    <li><strong>400+</strong>: Number of relief organizations that have used Crisis Cleanup, Worldwide</li>
    <li><strong>25%</strong>: Approximate increase in volunteer efficiency through elimination of time spent on travel, coordination, collaboration, and management.</li> <!-- Estimate 5 hours per volunteer, per week. Save 1.25 hours in travel to and from command center, reassignment, frustrated volunteers who can't get reassigned and quit early, etc. 
    <li><strong>16,000+</strong>: Households assisted, worldwide.</li> <!-- Count from database 
    <li><strong>40,000+</strong>: Volunteers who have directly or indirectly used Crisis Cleanup.</li> <!-- Experience 
    <li><strong>900,000+</strong>: Number of volunteer hours facilitated.</li> <!-- Sandy = 300K. Extrapolate: *3, to 16,000 sites from ~5,000. 
    <li><strong>225,000+</strong>: Volunteer hours to survivors enabled by Crisis Cleanup that would have otherwise been wasted in management, travel, and overhead.</li> <!-- 900K*.25 
    <li><strong>$1.5 Million</strong>: Minimum value FEMA offset value to local governments in the United States.</li> <!-- 75K hours * $20/hour 
    <li><strong>$30 Million</strong>: Minimum market value of services to survivors, enabled by redirecting volunteers to serving survivors rather than management and overhead.</li> <!-- Estimate 75% of 16,000 were helped. (12,000) 25% of those could not have otherwise been helped without CCU (3,000). Value of work per home = $10K. 
    <li><strong>For every $1 invested in Crisis Cleanup, survivors have received <u>$69</u> in value.</strong></li>
</ul>
-->
    </div>
<% end %>