<% content_for :title do %>
    DEMO: Crisis Cleanup - Request a New Incident
<% end %>

<% content_for :main do %>
	<div class="row">
		<div class='small-12 medium-12 large-12 columns'>
        	<h2>NOTE: This is the demo site. Visit the <u><a href="http://www.crisiscleanup.org/new_incident">Live Site</a></u>.</h2>
        	<h3>Use CrisisCleanup for an exercise.</h3>		
		</div>
	</div>
	<div class="row">
		<div class='small-12 medium-12 large-12 columns'>
	       <%= render 'request_incident_form' %>
        </div>
</div>
<%end%>
