<% content_for :title do %>
    Crisis Cleanup - Request a New Incident
<% end %>

<% content_for :main do %>
	<div class="row">
		<div class='small-12 medium-12 large-12 columns'>
        	<h3>Request to use CrisisCleanup for a new incident.</h3>		
		</div>
	</div>
	<div class="row">
		<div class='small-12 medium-12 large-12 columns'>
	       <%= render 'request_incident_form' %>
        </div>
</div>
<%end%>
