<% content_for :title do %>
    Crisis Cleanup - Privacy
<% end %>


<% content_for :subheader do %>
<div class="subheader">
    <h2>Privacy and Security Policy</h2>
    <h4 class="basic">Your privacy and the privacy of your clients is important to us.<br>
                      Let us help you maintain privacy.</h4>
    <hr class="medium">
</div>
<% end %>

<% content_for :main do %>
<div id="main">
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
        <p>New Jersey 2-1-1 Partnership ("Us," "We," or "Partnership") takes your privacy very seriously. This Privacy and Security Policy ("Policy") is designed to inform you, a user of our Service, about the types of information that we may gather or collect from or about you in connection with your use of the Service. It also explains the conditions under which we use and disclose that information.</p>
        <p>Use of the Website and associated Services requires acceptance of this Policy. If you are not satisfied with any aspect of the policy, please discontinue using the Website and Service.</p>
        <p>Changes to this Policy are discussed at the end of this document. Each time you use the Website, however, the current version of this Policy will apply. Accordingly, each time you use the Website you should check the date of this Policy (which appears at the end of this document) and review any changes since the last time you used the site.</p>
        
        <h3>1 Highlights &amp; Principles</h3>
        <p><strong>This entire Policy contains very important information. Please read all of it.</strong> Notwithstanding, here are some highlights and principles you may find of particular interest:</p>
        <p>By design, Crisis Cleanup is an open system. This means by default all other participants in the Service can view all information entered into the system.</p>
        <p>You are responsible for obtaining Client consent before entering information into the system. We (and other participants) may contact you with reports, questions, and other messages designed to assist running the System.</p>
                
        <h3>2 Definitions</h3>
        <p>The following words in this Privacy and Security Policy shall have the definitions below:</p>
        <ul class="custom">
            <li><strong>2.1</strong> Non-Personally-Identifying Information ("NPII"): Information that, without the aid of additional information, cannot be directly associated with a specific person.</li>
            <li><strong>2.2</strong> Personally-Identifying Information ("PII"): By contrast, PII is information such as a name or email address that, without more, can be directly associated with a specific person.</li>
            <li><strong>2.3</strong> You, or User: Has the same meaning as in the <a href="/terms">Terms and Conditions.</a></li>
            <li><strong>2.4</strong> Partnership ("Us," or "We") : Has the same meaning as in the Terms and Conditions.</li>
            <li><strong>2.5</strong> Service: Has the same meaning as in the Terms and Conditions.</li>
            <li><strong>2.6</strong> Website: Has the same meaning as in the Terms and Conditions.</li>
            <li><strong>2.7</strong> Your Materials: Has the same meaning as in the Terms and Conditions.</li>           
        </ul>
            
        <h3>3 Children</h3>
        <p>The Website is not intended for children under 13 years of age. We do not knowingly collect personal information from children under 13. If you are under 13 years of age, you may not use this Service. Do not use the Service to store information about individuals under 13 years of age.</p>
    
        <h3>4 Information Collected</h3> 
        <p><p><strong>4.1</strong> Our goal is to help you understand not just what information we collect, but why and how we collect the information. The following table outlines what information we collect, how we collect it, and how we use it:</p>
        <table>
          <thead>
            <tr>
              <th>Information Collected</th>
              <th>Primary Purpose</th>
              <th>Required?</th>
              <th>Shared with Other Participants?</th>
              <th>Shared with Public?</th>
              <th>PII or NPII</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Client Full Name, Address, Phone Number</td>
              <td>Empower disaster recovery organizations to help clients recover from disasters. Core to the proper functioning of the System</td>
              <td>Required</td>
              <td>Shared with participating organizations</td>
              <td>Not publically shared</td>
              <td>PII</td>                
            </tr>
            <tr>
              <td>Damaged Property Latitutde and Longitude</td>
              <td>Derived from the address. Core to the proper functioning of the System</td>
              <td>Required</td>
              <td>Shared with participating organizations</td>
              <td>Not publically shared, except randomized to 400 meters</td>
              <td>PII</td>                
            </tr> 
            <tr>
              <td>Client Prioritization Information</td>
              <td>A variety of questions designed to help work teams prioritize work orders, such as special needs</td>
              <td>Optional</td>
              <td>Shared with participating organizations</td>
              <td>Not publically shared</td>
              <td>NPII</td>                
            </tr>
            <tr>
              <td>Client Property Damage Information</td>
              <td>A variety of questions designed to assess damage and help work teams respond appropriately</td>
              <td>Optional</td>
              <td>Shared with participating organizations</td>
              <td>Some shared publicly</td>
              <td>NPII</td>                
            </tr>
            <tr>
              <td>Your Name &amp; Contact Information</td>
              <td>Log changes to Clients' records; allow other participating organizations to contact your organization</td>
              <td>Optional</td>
              <td>Shared with participating organizations</td>
              <td>Some shared publicly</td>
              <td>PII</td>                
            </tr>     
            <tr>
              <td>Usage Habits, Computer System Information</td>
              <td>We track non-identified usage information through third party analytics such as Google Analytics to understand how customers use the site, and for troubleshooting. This information may include search strings. You may block cookies from these websites without adversely affecting the Service.</td>
              <td>Some Optional if you disable cookies</td>
              <td>Not shared except in aggregate</td>
              <td>Not shared except in aggregate</td>
              <td>NPII</td>                
            </tr>
            <tr>
              <td>Your Materials</td>
              <td>If you upload pictures or videos of disaster-affected areas, they will be shared publically</td>
              <td>Optional</td>
              <td>Shared with participating organizations</td>
              <td>Shared publicly</td>
              <td>NPII</td>                
            </tr>                
          </tbody>
        </table>
        <p>Like most website operators, we gather NPII from visitors of the sort that web browsers, depending on their settings, may make available. That information includes the user's Internet Protocol (IP) address, operating system and browser type, the size of your computer screen, and whether your browser has enabled Javascript. We may also collect the locations of the web pages you view right before arriving at, while navigating, and immediately after leaving the Website. If you navigated to the Website from a search engine, the words you searched for (your "search string") may also be collected.</p>
        <p>We analyze this NPII gathered from users of the Website to help us better understand how the Website is being used. By identifying patterns and trends in usage, we are able to better design the Website to improve your experience. For example, analyzing the size of our users' screens helps ensure that we do not make our website too wide; analyzing search strings helps us improve content; and analyzing browser types helps us make our website accessible to the greatest number of users possible. Occasionally we may publish aggregated NPII, such as a report on trends in the usage of the Website.</p>
        <p><strong>4.2</strong> Web Cookies</p>
        <p>A "Web Cookie" is a string of information that a website stores on a user's computer, and that the user's browser provides to the website each time the user submits a query to the site. For example, Cookies enable users to visit multiple pages on the Website and log in only once. We use Web Cookies to track the pages that users visit during each Website session, both to help us improve your experience and to help us understand how the Website is being used. We do not attempt to link information gathered using Web Cookies to PII.</p>
        <p>This site uses cookies for some interactive features. Most browsers will automatically accept cookies. You can set your browser to reject cookies but some parts of the web site may not function properly if the cookies are rejected.</p>
        <p><strong>4.3</strong> Web Beacons</p>
        <p>A "Web Beacon" is an object that is embedded in a web page or email message that is usually invisible to the user (such as a small, invisible image), and allows website operators to check whether a user has viewed a particular web page or image. We may use Web Beacons on the Website to count users who have visited particular pages and to deliver co-branded services. Web Beacons are not used to access users' PII; they are a technique we may use to compile aggregated statistics about Website usage. Web Beacons collect only a limited set of information including a cookie number, time and date of a page view, and a description of the page on which the Web Beacon resides.</p>
        <p>Though you may not decline Web Beacons, they may be rendered ineffective by declining all cookies, changing your email client settings, modifying your browser setting to notify you each time a cookie is tendered and permit you to accept or decline cookies on an individual basis.</p>
            
        <h3>5 Other Disclosures</h3>

        <p>We will disclose Personally-Identifying Information under the following circumstances:</p>
        <ul class="custom">
            <li><strong>5.1</strong> By Law or to Protect Rights: We disclose PII and NPII when required to do so by law, or in response to a subpoena or court order, to cooperate with a legitimate law enforcement investigation, or when we believe in our sole discretion that disclosure is reasonably necessary to protect our property or rights, or those of third parties or the public at large.</li>
            <li><strong>5.2</strong> Business Transfers; Bankruptcy: We reserve the right to transfer all PII and NPII in our possession to a successor organization in the event of a merger, acquisition, bankruptcy, or other sale of all or a portion of our assets. Other than to the extent ordered by a bankruptcy or other court, the use and disclosure of all transferred PII will be subject to this Policy, or to a new privacy policy if you are given notice of that new privacy policy and are given an opportunity to affirmatively opt-out of it. PII submitted or collected after a transfer, however, may be subject to a new privacy policy by the successor organization.</li>
            <li><strong>5.3</strong> Research or Historical Purposes: Crisis Cleanup information may be useful to improve future response and coordination efforts. We may partner and share information with recognized research institutions or organizations, provided they agree in writing to follow strict data protection protocols. In the interest of history preservation, we may, at our sole discretion, respond to reasonable requests from community or historical preservation organizations after a reasonable time has passed after a disaster.</li>
            <li><strong>5.4</strong> As Otherwise Described in this Policy.</li>
        </ul>
            
        <h3>6 SSL Encryption</h3>
        <p>The transfer of online transaction data to and from the web site is protected by the implementation of a Secure Sockets Layer (SSL) protocol. Our security certificate allows web browsers to verify the authenticity of the secure sections of the Website and to communicate with our site securely, encrypting confidential information as it passes over the internet. It is your responsibility to keep your password secure at all times to avoid unauthorized use of your Organization account.</p>

        <h3>7 Policy Changes</h3>
        <ul class="custom">
            <li><strong>7.1</strong> We may, at our sole discretion, change this Policy from time to time. Any and all changes to our Policy will also be reflected on this page. Unless we obtain your express consent, any revised Policy will apply only to information collected after such time as the revised Policy takes effect, and not to information collected under any earlier Privacy Policies. We will attempt to notify you whenever there are material changes to this Policy. We encourage you to frequently check this page for any changes to our Policy. If you have any questions about our Policy, please contact us.</li>
            <li><strong>7.2</strong> This Policy is effective July 28, 2013. Last Updated: March 21, 2015: Added Section 5.3, Research or Historical Purposes.</li>   
        </ul>
        </div>
    </div>
</div>
<% end %>


<% content_for :javascripts do %>
<% end %>