<% content_for :title do %>
  Crisis Cleanup - Public Map
<% end %>

<% content_for :subheader do %>
  <div class="row subheader">
    <div class="small-12 medium-8 large-10 columns">
      <h2>Visualize the Disaster in Real Time</h2>
      <h4 class="basic">Personal information has been hidden, and the location has been blurred to 400 meters.</h4>
      <hr class="medium">
    </div>
    <div class="small-12 medium-4 large-2 columns" align="center">
      <%= image_tag "characters/Earth.png", :class => "character" ,:alt => "crisis cleanup public map" %>
    </div>    
  </div>
<% end %>

<% content_for :main do %>
  <div id="main" class="alt">
    <br>
    <div class='map-wrapper'>
      <div id="public-map-canvas" style="width: 95%; min-height: 600px; height: 100%; margin-top: -41px;"></div>
      <%= image_tag "map_legend.png", :class => "legend"  %>
      <div id="map-infobox"></div>
    </div>
  </div>
<% end %>

<% content_for :sidebar do %>
  <div id="sidebar">
  <h4>View Disaster Data for 69 Incidents</h4> <!--(Updated 8/24/2017)-->
  <p>Choose an incident from the dropdown below, and the map will populate live work orders from our system. <em>Note: Personal information is hidden, and the location has been randomized to about 1/4 mile.</em></p>
    <label style="width: 90%; margin-left: 5%;">Select Incident
      <select class="select_incident">
        <option value="">Choose Incident</option>
        <% @events.each do |event| %>
          <option value="<%= event.id %>"><%= event.name %></option>
        <% end %>
      </select>
    </label>
  </div>
<% end %>

<% content_for :javascripts do %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
<% end %>
