<% content_for :subheader do %>
<div class="subheader">
    <h2>Visualize the Disaster in Real Time</h2>
    <h4 class="basic">Personal information has been hidden, and the location has been blurred to 400 meters.</h4>
    <hr class="medium">
</div>
<% end %>

<% content_for :main do %>
<div id="main" class="alt">

    <br> <!-- DO NOT REMOVE BREAK TAG -->
	<div id="map-canvas" style="width: 500px; height: 500px;"></div>

</div>
<% end %>

<% content_for :sidebar do %>        
<div id="sidebar">
<h4>View Disaster Data For Over 20+ Incidents</h4>
    <p>Simply choose an incident from the dropdown below, and the map will populate live work orders from our system.</p>
    <!-- <div class="dropdown-button-area">
    <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown">Choose An Incident</button><br>
        <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
        </ul>
    </div>    -->
    <label>Select Incident
      <select class="select_incident">
        <option value="">Choose Incident</option>
        <% @events.each do |event| %>
          <option value="<%= event.id %>"><%= event.name %></option>
        <% end %>

      </select>
    </label>
</div>
<% end %> 