<% content_for :subheader do %>
<div class="subheader">
    <h2>Visualize the Disaster in Real Time</h2>
    <h4 class="basic">Personal information has been hidden, and the location has been blurred to 400 meters.</h4>
    <hr class="medium">
</div>
<% end %>

<% content_for :main do %>
<div id="main" class="alt">
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
$(function() {
  var markersArray = [];

  function clearOverlays() {
    if (markersArray) {
      for (i in markersArray) {
        markersArray[i].setMap(null);
      }
    }
  }


  var map;
  function initialize() {
    var mapCanvas = document.getElementById('map-canvas');
    var mapOptions = {
      center: new google.maps.LatLng(39, -90),
      zoom: 4,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      scrollwheel: false    
    }
    map = new google.maps.Map(mapCanvas, mapOptions)
  }

  
  google.maps.event.addDomListener(window, 'load', initialize);

  $( ".select_incident" ).change(function() {
    var event_id = $(".select_incident").val();
    var publicPinsApi = "/api/public/map?legacy_event_id=" + event_id;

    console.log(publicPinsApi);
    clearOverlays();
    $.get( publicPinsApi, function( data ) {
      $.each(data, function(index, obj) {
        var marker1 = new google.maps.Marker({
          position: new google.maps.LatLng(parseFloat(obj["blurred_latitude"]), parseFloat(obj["blurred_longitude"])),
            map: map
        });
        markersArray.push(marker1);
      })
    });
  });
});
</script>
    <br> <!-- DO NOT REMOVE BREAK TAG -->
	<div id="map-canvas" style="width: 500px; height: 500px;"></div>

</div>
<% end %>

<% content_for :sidebar do %>        
<div id="sidebar">
<h4>View Disaster Data For Over 20+ Incidents</h4>
    <p>Simply choose an incident from the dropdown below, and the map will populate live work orders from our system.</p>
    <!-- <div class="dropdown-button-area">
    <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown">Choose An Incident</button><br>
        <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
        </ul>
    </div>    -->
    <label>Select Incident
      <select class="select_incident">
        <option value="">Choose Incident</option>
        <% @events.each do |event| %>
          <option value="<%= event.id %>"><%= event.name %></option>
        <% end %>

      </select>
    </label>
</div>
<% end %> 