<% content_for :title do %>
    Crisis Cleanup - Request a New Incident
<% end %>

<% content_for :main do %>
	<div class="row">
		<div class='small-12 medium-12 large-12 columns'>
        	<h3>Redeploy to a new incident.</h3>		
		</div>
	</div>
	<div class="row">
		<div class='small-12 medium-12 large-12 columns'>
	       <p>To redeploy to a new incident, sign in, then hover over "Dashboard" on the nav bar and click "Redeploy".</p>
        </div>
</div>
<%end%>