<% content_for :title do %>
    Crisis Cleanup - Training
<% end %>

<% content_for :subheader do %>
<div class="row subheader">
    <div class="small-12 medium-8 large-10 columns">
        <h2>Crisis Cleanup Training</h2>
        <h4 class="basic">Please Take a Minute to Complete a Short Training</h4>
    </div>
    <div class="small-12 medium-4 large-2 columns" align="center">
        <%= image_tag "characters/Clipboard Guy3.png", :class => "character" ,:alt => "about crisis cleanup"  %>
    </div>
    <hr class="medium">
</div>
<% end %>

<% content_for :main do %>
<div id="main" class="alt">
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
        <h3>Mandatory Training Video</h3>
        <iframe class="about-intro" width="" height="" src="https://www.youtube.com/embed/tpMOgDr_KGI" frameborder="0" allowfullscreen></iframe>
        <h3>Introductory Video</h3>
        <iframe class="about-intro" width="" height="" src="https://www.youtube.com/embed/yCxI5YHyX5k" frameborder="0" allowfullscreen></iframe>

        <h3>Helpful Links</h3>
        <ul>
            <li><a href="https://crisiscleanup.zendesk.com/hc/en-us">Helpdesk</a></li>
            <li><a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200596493-Is-Crisis-Cleanup-a-Good-Fit-">Is Crisis Cleanup a Good Fit?</a> Factors that lead to successful deployments.</li>
            <li><a href="http://demo.crisiscleanup.org/">Crisis Cleanup Demo Site</a></li>
            <li><a href="http://www.youtube.com/watch?v=tpMOgDr_KGI">Mandatory Training Video</a></li>
            <li><a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200603007-Requirements-for-Participation">Requirements for Participation</a></li>
            <!--<li><a href="http://www.crisiscleanup.org/donate">Fundraiser</a></li>-->
        </ul>

         <h3>Test Your Crisis Cleanup Knowledge!</h3>
         <p>Take this quick poll to see how much you understand about Crisis Cleanup.</p>
     <div class="row">
       <div class="small-12 medium-12 large-12 columns">
     <div class="row">
       <div class="small-12 medium-12 large-12 columns">
         <h5>1. You can use Crisis Cleanup to do donations management, case management, logistics, etc.</h5>
            <form>
              <label for="answer_1_1"><input type="radio" name="answer_1" id="answer_1_1" onclick="document.getElementById('no_1').style.display = 'none'; document.getElementById('yes_1').style.display = 'block'; document.getElementById('explanation_1').style.display = 'block';"> False</label></input><br />
              <label for="answer_1_2"><input type="radio" name="answer_1" id="answer_1_2" onclick="document.getElementById('no_1').style.display = 'block'; document.getElementById('yes_1').style.display = 'none'; document.getElementById('explanation_1').style.display = 'block';"> True</label></input><br />
              
              
            </form>
            <div id="no_1" style="display:none"><p style="color:red; font-weight: bold;">Incorrect.</p></div><div id="yes_1" style="display:none"><p style="color:green; font-weight: bold;">Correct!</p></div><div id="explanation_1" style="display:none"><p>Crisis Cleanup is a collaborative work order management system; it is not "The One App to Rule them All." Crisis Cleanup is designed to coordinate large numbers of volunteers to large numbers of locations to perform property cleanup and remediation work. Donations management, case management, volunteer management, assets management, logistics, etc. are each a vital part of disaster recovery, but outside the scope of Crisis Cleanup.</p></div>
       </div>
     </div>
     <div class="row">
       <div class="small-12 medium-12 large-12 columns">
         <h5>2. How much does Crisis Cleanup cost?</h5>
            <form>
              <label for="answer_2_2"><input type="radio" name="answer_2" id="answer_2_2" onclick="document.getElementById('no_2').style.display = 'block'; document.getElementById('yes_2').style.display = 'none'; document.getElementById('explanation_2').style.display = 'block';"> An arm and a leg.</label></input><br />
              <label for="answer_2_1"><input type="radio" name="answer_2" id="answer_2_1" onclick="document.getElementById('no_2').style.display = 'none'; document.getElementById('yes_2').style.display = 'block'; document.getElementById('explanation_2').style.display = 'block';"> Free.</label></input><br />
              <label for="answer_2_3"><input type="radio" name="answer_2" id="answer_2_3" onclick="document.getElementById('no_2').style.display = 'block'; document.getElementById('yes_2').style.display = 'none'; document.getElementById('explanation_2').style.display = 'block';"> Your firstborn child.</label></input><br />
              <label for="answer_2_4"><input type="radio" name="answer_2" id="answer_2_4" onclick="document.getElementById('no_2').style.display = 'block'; document.getElementById('yes_2').style.display = 'none'; document.getElementById('explanation_2').style.display = 'block';"> $1,000 per year.</label></input><br />
            </form>
            <div id="no_2" style="display:none"><p style="color:red; font-weight: bold;">Incorrect.</p></div><div id="yes_2" style="display:none"><p style="color:green; font-weight: bold;">Correct!</p></div><div id="explanation_2" style="display:none"><p>Crisis Cleanup is currently free to disaster recovery organizations.</p></div>
       </div>
     </div>
     <div class="row">
       <div class="small-12 medium-12 large-12 columns">
         <h5>3. Crisis Cleanup should be used primarily by field workers.</h5>
            <form>
              <label for="answer_3_2"><input type="radio" name="answer_3" id="answer_3_2" onclick="document.getElementById('no_3').style.display = 'block'; document.getElementById('yes_3').style.display = 'none'; document.getElementById('explanation_3').style.display = 'block';"> False</label></input><br />
              <label for="answer_3_1"><input type="radio" name="answer_3" id="answer_3_1" onclick="document.getElementById('no_3').style.display = 'none'; document.getElementById('yes_3').style.display = 'block'; document.getElementById('explanation_3').style.display = 'block';"> True</label></input><br />
              
              
            </form>
            <div id="no_3" style="display:none"><p style="color:red; font-weight: bold;">Incorrect.</p></div><div id="yes_3" style="display:none"><p style="color:green; font-weight: bold;">Correct!</p></div><div id="explanation_3" style="display:none"><p>Field work powers the Crisis Cleanup database. Crisis Cleanup was designed to optimize efforts of team leaders and field workers. Although the system is a useful coordination and management tool, the life blood of Crisis Cleanup is the field worker. Crisis Cleanup assists workers to plan, prioritize, and execute property remediation activities. As a result, if the system is not actively used in the field, it is also useless as a coordination and management tool.</p></div>
       </div>
     </div>
     <div class="row">
       <div class="small-12 medium-12 large-12 columns">
         <h5>4. Your organization is responsible for keeping client information confidential.</h5>
            <form>
              <label for="answer_4_1"><input type="radio" name="answer_4" id="answer_4_1" onclick="document.getElementById('no_4').style.display = 'none'; document.getElementById('yes_4').style.display = 'block'; document.getElementById('explanation_4').style.display = 'block';"> True</label></input><br />
              <label for="answer_4_2"><input type="radio" name="answer_4" id="answer_4_2" onclick="document.getElementById('no_4').style.display = 'block'; document.getElementById('yes_4').style.display = 'none'; document.getElementById('explanation_4').style.display = 'block';"> False</label></input><br />
              
              
            </form>
            <div id="no_4" style="display:none"><p style="color:red; font-weight: bold;">Incorrect.</p></div><div id="yes_4" style="display:none"><p style="color:green; font-weight: bold;">Correct!</p></div><div id="explanation_4" style="display:none"><p>Although Crisis Cleanup should have no confidential personal information, it contains some contact information. Please keep all client information confidential.</p></div>
       </div>
     </div>
     <div class="row">
       <div class="small-12 medium-12 large-12 columns">
         <h5>5. When must you claim a work order? <a href="https://www.youtube.com/watch?feature=player_detailpage&v=yCxI5YHyX5k#t=134" target=_blank><small>Hint</small></a></h5>
            <form>
              <label for="answer_5_2"><input type="radio" name="answer_5" id="answer_5_2" onclick="document.getElementById('no_5').style.display = 'block'; document.getElementById('yes_5').style.display = 'none'; document.getElementById('explanation_5').style.display = 'block';"> Every time you perform an assessment.</label></input><br />
              <label for="answer_5_3"><input type="radio" name="answer_5" id="answer_5_3" onclick="document.getElementById('no_5').style.display = 'block'; document.getElementById('yes_5').style.display = 'none'; document.getElementById('explanation_5').style.display = 'block';"> Whenever ordered by the VOAD or state government.</label></input><br />
              <label for="answer_5_4"><input type="radio" name="answer_5" id="answer_5_4" onclick="document.getElementById('no_5').style.display = 'block'; document.getElementById('yes_5').style.display = 'none'; document.getElementById('explanation_5').style.display = 'block';"> Only on Tuesdays at high tide.</label></input><br />
              <label for="answer_5_1"><input type="radio" name="answer_5" id="answer_5_1" onclick="document.getElementById('no_5').style.display = 'none'; document.getElementById('yes_5').style.display = 'block'; document.getElementById('explanation_5').style.display = 'block';"> Only when convenient for you.</label></input><br />
            </form>
            <div id="no_5" style="display:none"><p style="color:red; font-weight: bold;">Incorrect.</p></div><div id="yes_5" style="display:none"><p style="color:green; font-weight: bold;">Correct!</p></div><div id="explanation_5" style="display:none"><p>Crisis Cleanup utilizes a "Craigslist" philosophy to disaster recovery. Organizations that know of a need enter the information, and organizations with capacity claim the work orders at their convenience. We certainly encourage coordination with other voluntary organizations, state, and county government officials, but Crisis Cleanup will never force you to perform work. You're in charge. See <a href="https://www.youtube.com/watch?feature=player_detailpage&v=yCxI5YHyX5k#t=134" target=_blank>Intro Video</a>.</p></div>
       </div>
     </div>
     <div class="row">
       <div class="small-12 medium-12 large-12 columns">
         <h5>6. Always store as much sensitive personal information in Crisis Clean up as possible. <a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200819327-Client-Personal-Data-Collection-Policy" target=_blank><small>Hint</small></a></h5>
            <form>
              <label for="answer_6_1"><input type="radio" name="answer_6" id="answer_6_1" onclick="document.getElementById('no_6').style.display = 'none'; document.getElementById('yes_6').style.display = 'block'; document.getElementById('explanation_6').style.display = 'block';"> False</label></input><br />
              <label for="answer_6_2"><input type="radio" name="answer_6" id="answer_6_2" onclick="document.getElementById('no_6').style.display = 'block'; document.getElementById('yes_6').style.display = 'none'; document.getElementById('explanation_6').style.display = 'block';"> True</label></input><br />
              
              
            </form>
            <div id="no_6" style="display:none"><p style="color:red; font-weight: bold;">Incorrect.</p></div><div id="yes_6" style="display:none"><p style="color:green; font-weight: bold;">Correct!</p></div><div id="explanation_6" style="display:none"><p>False! Under no circumstance should you store sensitive personal information in Crisis Cleanup. Only store information directly relevant to organizing workers or prioritizing work orders. NEVER store medical information, social security numbers, rent information, FEMA numbers, etc. See <a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200819327-Client-Personal-Data-Collection-Policy" target=_blank>Client Data Collection Policy</a></p></div>
       </div>
     </div>
     <div class="row">
       <div class="small-12 medium-12 large-12 columns">
         <h5>7. What kind of organizations may participate? <a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200603007-Requirements-for-Participation#requirements" target=_blank><small>Hint</small></a></h5>
            <form>
              <label for="answer_7_2"><input type="radio" name="answer_7" id="answer_7_2" onclick="document.getElementById('no_7').style.display = 'block'; document.getElementById('yes_7').style.display = 'none'; document.getElementById('explanation_7').style.display = 'block';"> Only organizations approved by the state government.</label></input><br />
              <label for="answer_7_3"><input type="radio" name="answer_7" id="answer_7_3" onclick="document.getElementById('no_7').style.display = 'block'; document.getElementById('yes_7').style.display = 'none'; document.getElementById('explanation_7').style.display = 'block';"> Only members of a state, national, or county VOAD.</label></input><br />
              <label for="answer_7_4"><input type="radio" name="answer_7" id="answer_7_4" onclick="document.getElementById('no_7').style.display = 'block'; document.getElementById('yes_7').style.display = 'none'; document.getElementById('explanation_7').style.display = 'block';"> Unaffiliated individuals and volunteers.</label></input><br />
              <label for="answer_7_1"><input type="radio" name="answer_7" id="answer_7_1" onclick="document.getElementById('no_7').style.display = 'none'; document.getElementById('yes_7').style.display = 'block'; document.getElementById('explanation_7').style.display = 'block';"> Any reputable non-profit recovery organization that interacts directly with survivors in cleanup efforts.</label></input><br />
            </form>
            <div id="no_7" style="display:none"><p style="color:red; font-weight: bold;">Incorrect.</p></div><div id="yes_7" style="display:none"><p style="color:green; font-weight: bold;">Correct!</p></div><div id="explanation_7" style="display:none"><p>Crisis Cleanup has a bias for inclusion, but only reputable organizations that interact directly with survivors in cleanup efforts may participate. Individual volunteers may not access Crisis Cleanup. See <a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200603007-Requirements-for-Participation#requirements" target=_blank>Requirements for Participation</a>.</p></div>
       </div>
     </div>
     <div class="row">
       <div class="small-12 medium-12 large-12 columns">
         <h5>8. You are responsible for updating completed or partially completed work orders. <a href="http://youtu.be/tpMOgDr_KGI?t=3m23s" target=_blank><small>Hint</small></a></h5>
            <form>
              <label for="answer_8_2"><input type="radio" name="answer_8" id="answer_8_2" onclick="document.getElementById('no_8').style.display = 'block'; document.getElementById('yes_8').style.display = 'none'; document.getElementById('explanation_8').style.display = 'block';"> False</label></input><br />
              <label for="answer_8_1"><input type="radio" name="answer_8" id="answer_8_1" onclick="document.getElementById('no_8').style.display = 'none'; document.getElementById('yes_8').style.display = 'block'; document.getElementById('explanation_8').style.display = 'block';"> True</label></input><br />
              
              
            </form>
            <div id="no_8" style="display:none"><p style="color:red; font-weight: bold;">Incorrect.</p></div><div id="yes_8" style="display:none"><p style="color:green; font-weight: bold;">Correct!</p></div><div id="explanation_8" style="display:none"><p>Crisis Cleanup utilizes a decentralized "Craigslist" approach to disaster recovery. No single centralized organization is in charge, so we expect you to clean up after yourself. Please be sure to update the status to "Closed" when the work order is completed. Managing the work load will be much easier if you permit all of your team leaders to update Crisis Cleanup themselves.</p></div>
       </div>
     </div>
     <div class="row">
       <div class="small-12 medium-12 large-12 columns">
         <h5>9. Who is in charge of Crisis Cleanup?</h5>
            <form>
              <label for="answer_9_2"><input type="radio" name="answer_9" id="answer_9_2" onclick="document.getElementById('no_9').style.display = 'block'; document.getElementById('yes_9').style.display = 'none'; document.getElementById('explanation_9').style.display = 'block';"> The state, county, or local government.</label></input><br />
              <label for="answer_9_3"><input type="radio" name="answer_9" id="answer_9_3" onclick="document.getElementById('no_9').style.display = 'block'; document.getElementById('yes_9').style.display = 'none'; document.getElementById('explanation_9').style.display = 'block';"> National or State VOADs.</label></input><br />
              <label for="answer_9_1"><input type="radio" name="answer_9" id="answer_9_1" onclick="document.getElementById('no_9').style.display = 'none'; document.getElementById('yes_9').style.display = 'block'; document.getElementById('explanation_9').style.display = 'block';"> You.</label></input><br />
              <label for="answer_9_4"><input type="radio" name="answer_9" id="answer_9_4" onclick="document.getElementById('no_9').style.display = 'block'; document.getElementById('yes_9').style.display = 'none'; document.getElementById('explanation_9').style.display = 'block';"> <a href="https://www.youtube.com/watch?feature=player_detailpage&v=KAWoP1kncRE#t=45" target=_blank>This guy</a>. (Hint: Wrong answer :-)</label></input><br />
            </form>
            <div id="no_9" style="display:none"><p style="color:red; font-weight: bold;">Incorrect.</p></div><div id="yes_9" style="display:none"><p style="color:green; font-weight: bold;">Correct!</p></div><div id="explanation_9" style="display:none"><p>Crisis Cleanup works a lot like Craigslist--Craig keeps the servers running, but the community is in charge of powering the system. Although you may report to county and state governments and other organizations in real life, no single organization is in charge of Crisis Cleanup. Everybody works together toward a common goal. Crisis Cleanup operates on the principle of Collaborative Accountability: When interdependent, co-equal partners pressure and assist one another to accomplish a goal. See <a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200596493-Is-Crisis-Cleanup-a-Good-Fit-" target=_blank>Is Crisis Cleanup a Good Fit?</a></p></div>
       </div>
     </div>
     <div class="row">
       <div class="small-12 medium-12 large-12 columns">
         <h5>10. You may unclaim a work order if you do not have the resources to perform the work. <a href="https://www.youtube.com/watch?v=tpMOgDr_KGI&feature=player_embedded#t=432" target=_blank><small>Hint</small></a></h5>
            <form>
              <label for="answer_10_2"><input type="radio" name="answer_10" id="answer_10_2" onclick="document.getElementById('no_10').style.display = 'block'; document.getElementById('yes_10').style.display = 'none'; document.getElementById('explanation_10').style.display = 'block';"> False</label></input><br />
              <label for="answer_10_1"><input type="radio" name="answer_10" id="answer_10_1" onclick="document.getElementById('no_10').style.display = 'none'; document.getElementById('yes_10').style.display = 'block'; document.getElementById('explanation_10').style.display = 'block';"> True</label></input><br />
              
              
            </form>
            <div id="no_10" style="display:none"><p style="color:red; font-weight: bold;">Incorrect.</p></div><div id="yes_10" style="display:none"><p style="color:green; font-weight: bold;">Correct!</p></div><div id="explanation_10" style="display:none"><p>If you do not have the capacity to complete a work order, please unclaim it so that other organizations can perform the work. See <a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200798753-Mandatory-Training-Video" target=_blank>Mandatory Training Video</a>.</p></div>
       </div>
     </div>
     <div class="row">
       <div class="small-12 medium-12 large-12 columns">
         <h5>11. All participating organizations can see what all of the other organizations are doing.</h5>
            <form>
              <label for="answer_11_1"><input type="radio" name="answer_11" id="answer_11_1" onclick="document.getElementById('no_11').style.display = 'none'; document.getElementById('yes_11').style.display = 'block'; document.getElementById('explanation_11').style.display = 'block';"> True</label></input><br />
              <label for="answer_11_2"><input type="radio" name="answer_11" id="answer_11_2" onclick="document.getElementById('no_11').style.display = 'block'; document.getElementById('yes_11').style.display = 'none'; document.getElementById('explanation_11').style.display = 'block';"> False</label></input><br />
              
              
            </form>
            <div id="no_11" style="display:none"><p style="color:red; font-weight: bold;">Incorrect.</p></div><div id="yes_11" style="display:none"><p style="color:green; font-weight: bold;">Correct!</p></div><div id="explanation_11" style="display:none"><p>Crisis Cleanup makes coordination not only required, but easy. Every participating organization can see what the others are doing, significantly improving coordination and communication.</p></div>
       </div>
     </div>
     <div class="row">
       <div class="small-12 medium-12 large-12 columns">
         <h5>12. Who may enter work orders?</h5>
            <form>
              <label for="answer_12_2"><input type="radio" name="answer_12" id="answer_12_2" onclick="document.getElementById('no_12').style.display = 'block'; document.getElementById('yes_12').style.display = 'none'; document.getElementById('explanation_12').style.display = 'block';"> Any member of the public.</label></input><br />
              <label for="answer_12_1"><input type="radio" name="answer_12" id="answer_12_1" onclick="document.getElementById('no_12').style.display = 'none'; document.getElementById('yes_12').style.display = 'block'; document.getElementById('explanation_12').style.display = 'block';"> Any participating organization, including your own.</label></input><br />
              <label for="answer_12_3"><input type="radio" name="answer_12" id="answer_12_3" onclick="document.getElementById('no_12').style.display = 'block'; document.getElementById('yes_12').style.display = 'none'; document.getElementById('explanation_12').style.display = 'block';"> Only 2-1-1 or other authorized call-in centers.</label></input><br />
              <label for="answer_12_4"><input type="radio" name="answer_12" id="answer_12_4" onclick="document.getElementById('no_12').style.display = 'block'; document.getElementById('yes_12').style.display = 'none'; document.getElementById('explanation_12').style.display = 'block';"> Only your state VOAD or system administrator.</label></input><br />
            </form>
            <div id="no_12" style="display:none"><p style="color:red; font-weight: bold;">Incorrect.</p></div><div id="yes_12" style="display:none"><p style="color:green; font-weight: bold;">Correct!</p></div><div id="explanation_12" style="display:none"><p>To preserve confidentiality, only reputable organizations that interact directly with survivors in cleanup efforts may participate in Crisis Cleanup. Any participating organization may perform assessments and enter work orders into the system. While Crisis Cleanup may accept preliminary damage assessment information from the public sometime in the future, it does not currently.</p></div>
       </div>
     </div>
     <div class="row">
       <div class="small-12 medium-12 large-12 columns">
         <h5>13. What should you do if a fellow relief organization doesn't do a work order they've claimed?</h5>
            <form>
              <label for="answer_13_2"><input type="radio" name="answer_13" id="answer_13_2" onclick="document.getElementById('no_13').style.display = 'block'; document.getElementById('yes_13').style.display = 'none'; document.getElementById('explanation_13').style.display = 'block';"> Fill out a trouble ticket.</label></input><br />
              <label for="answer_13_3"><input type="radio" name="answer_13" id="answer_13_3" onclick="document.getElementById('no_13').style.display = 'block'; document.getElementById('yes_13').style.display = 'none'; document.getElementById('explanation_13').style.display = 'block';"> Nothing.</label></input><br />
              <label for="answer_13_4"><input type="radio" name="answer_13" id="answer_13_4" onclick="document.getElementById('no_13').style.display = 'block'; document.getElementById('yes_13').style.display = 'none'; document.getElementById('explanation_13').style.display = 'block';"> Break their kneecaps.</label></input><br />
              <label for="answer_13_1"><input type="radio" name="answer_13" id="answer_13_1" onclick="document.getElementById('no_13').style.display = 'none'; document.getElementById('yes_13').style.display = 'block'; document.getElementById('explanation_13').style.display = 'block';"> Contact that organization to see how you can help, and find out what's going on.</label></input><br />
            </form>
            <div id="no_13" style="display:none"><p style="color:red; font-weight: bold;">Incorrect.</p></div><div id="yes_13" style="display:none"><p style="color:green; font-weight: bold;">Correct!</p></div><div id="explanation_13" style="display:none"><p>In every disaster some organizations claim work orders they can't fulfill, or fail to complete necessary paperwork. Technology won't solve that problem, but Crisis Cleanup does allow you to see the problem for the first time. And because you can see the problem, you can fix the problem by leveraging relationships and supporting fellow relief agencies.</p></div>
       </div>
     </div>
     <div class="row">
       <div class="small-12 medium-12 large-12 columns">
         <h5>14. It is possible to download a copy of all work orders. <a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200603027-How-do-I-download-an-Excel-or-CSV-copy-of-the-data-" target=_blank><small>Hint</small></a></h5>
            <form>
              <label for="answer_14_1"><input type="radio" name="answer_14" id="answer_14_1" onclick="document.getElementById('no_14').style.display = 'none'; document.getElementById('yes_14').style.display = 'block'; document.getElementById('explanation_14').style.display = 'block';"> True</label></input><br />
              <label for="answer_14_2"><input type="radio" name="answer_14" id="answer_14_2" onclick="document.getElementById('no_14').style.display = 'block'; document.getElementById('yes_14').style.display = 'none'; document.getElementById('explanation_14').style.display = 'block';"> False</label></input><br />
              
              
            </form>
            <div id="no_14" style="display:none"><p style="color:red; font-weight: bold;">Incorrect.</p></div><div id="yes_14" style="display:none"><p style="color:green; font-weight: bold;">Correct!</p></div><div id="explanation_14" style="display:none"><p>You can always <a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200603027-How-do-I-download-an-Excel-or-CSV-copy-of-the-data-" target=_blank>download a CSV</a> or Excel file with all work orders, for your records and to run reports.</p></div>
       </div>
     </div>
     <div class="row">
       <div class="small-12 medium-12 large-12 columns">
         <h5>15. Each user is responsible to keep his/her own passwords secure.</h5>
            <form>
              <label for="answer_15_1"><input type="radio" name="answer_15" id="answer_15_1" onclick="document.getElementById('no_15').style.display = 'none'; document.getElementById('yes_15').style.display = 'block'; document.getElementById('explanation_15').style.display = 'block';"> True</label></input><br />
              <label for="answer_15_2"><input type="radio" name="answer_15" id="answer_15_2" onclick="document.getElementById('no_15').style.display = 'block'; document.getElementById('yes_15').style.display = 'none'; document.getElementById('explanation_15').style.display = 'block';"> False</label></input><br />
              
              
            </form>
            <div id="no_15" style="display:none"><p style="color:red; font-weight: bold;">Incorrect.</p></div><div id="yes_15" style="display:none"><p style="color:green; font-weight: bold;">Correct!</p></div><div id="explanation_15" style="display:none"><p>Please visit the <a href="/password/new">Reset Password</a> page if your password has been compromised.</p></div>
       </div>
     </div>
     <div class="row">
       <div class="small-12 medium-12 large-12 columns">
         <h5>16. You may use Crisis Cleanup for case management.</h5>
            <form>
              <label for="answer_16_1"><input type="radio" name="answer_16" id="answer_16_1" onclick="document.getElementById('no_16').style.display = 'none'; document.getElementById('yes_16').style.display = 'block'; document.getElementById('explanation_16').style.display = 'block';"> False</label></input><br />
              <label for="answer_16_2"><input type="radio" name="answer_16" id="answer_16_2" onclick="document.getElementById('no_16').style.display = 'block'; document.getElementById('yes_16').style.display = 'none'; document.getElementById('explanation_16').style.display = 'block';"> True</label></input><br />
              
              
            </form>
            <div id="no_16" style="display:none"><p style="color:red; font-weight: bold;">Incorrect.</p></div><div id="yes_16" style="display:none"><p style="color:green; font-weight: bold;">Correct!</p></div><div id="explanation_16" style="display:none"><p>Crisis Cleanup is designed for multi-agency, collaborative work order management. It is not designed to store sensitive personal information or be used for case management. See <a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200798753-Mandatory-Training-Video" target=_blank>Training Video</a> and <a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200819327-Client-Personal-Data-Collection-Policy" target=_blank>Client Data Collection Policy</a>.</p></div>
       </div>
     </div>
     <div class="row">
       <div class="small-12 medium-12 large-12 columns">
         <h5>17. Each organization should have one primary user.</h5>
            <form>
              <label for="answer_17_1"><input type="radio" name="answer_17" id="answer_17_1" onclick="document.getElementById('no_17').style.display = 'none'; document.getElementById('yes_17').style.display = 'block'; document.getElementById('explanation_17').style.display = 'block';"> False</label></input><br />
              <label for="answer_17_2"><input type="radio" name="answer_17" id="answer_17_2" onclick="document.getElementById('no_17').style.display = 'block'; document.getElementById('yes_17').style.display = 'none'; document.getElementById('explanation_17').style.display = 'block';"> True</label></input><br />
              
              
            </form>
            <div id="no_17" style="display:none"><p style="color:red; font-weight: bold;">Incorrect.</p></div><div id="yes_17" style="display:none"><p style="color:green; font-weight: bold;">Correct!</p></div><div id="explanation_17" style="display:none"><p>Crisis Cleanup is designed for volunteer leaders on the ground. After you log in, invite all members of your team to Crisis Cleanup from the Dashboard.</p></div>
       </div>
     </div>
     <div class="row">
       <div class="small-12 medium-12 large-12 columns">
         <h5>18. What is the easiest way to get a list of work orders and run reports? <a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200603027-How-do-I-download-an-Excel-or-CSV-copy-of-the-data-" target=_blank><small>Hint</small></a></h5>
            <form>
              <label for="answer_18_2"><input type="radio" name="answer_18" id="answer_18_2" onclick="document.getElementById('no_18').style.display = 'block'; document.getElementById('yes_18').style.display = 'none'; document.getElementById('explanation_18').style.display = 'block';"> Email Crisis Cleanup and ask us to run a special report.</label></input><br />
              <label for="answer_18_1"><input type="radio" name="answer_18" id="answer_18_1" onclick="document.getElementById('no_18').style.display = 'none'; document.getElementById('yes_18').style.display = 'block'; document.getElementById('explanation_18').style.display = 'block';"> Download a CSV or Excel file with all of the work orders, so you can create your own reports.</label></input><br />
              <label for="answer_18_3"><input type="radio" name="answer_18" id="answer_18_3" onclick="document.getElementById('no_18').style.display = 'block'; document.getElementById('yes_18').style.display = 'none'; document.getElementById('explanation_18').style.display = 'block';"> Copy each work order from the screen with a pen and paper.</label></input><br />
              <label for="answer_18_4"><input type="radio" name="answer_18" id="answer_18_4" onclick="document.getElementById('no_18').style.display = 'block'; document.getElementById('yes_18').style.display = 'none'; document.getElementById('explanation_18').style.display = 'block';"> Print each work order, one by one. Then hire highly trained orangutanes to analyze the data.</label></input><br />
            </form>
            <div id="no_18" style="display:none"><p style="color:red; font-weight: bold;">Incorrect.</p></div><div id="yes_18" style="display:none"><p style="color:green; font-weight: bold;">Correct!</p></div><div id="explanation_18" style="display:none"><p>We encourage each participating organization to download their work orders and run regular reports for county governments, OEMs, and other VOAD members.  Please don't ask us to run reports for you. See the <a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200603027-How-do-I-download-an-Excel-or-CSV-copy-of-the-data-" target=_blank>Help Article</a> and <a href="http://blog.crisiscleanup.org/2014/01/new-crisis-cleanup-features.html" target=_blank>Blog Post</a> on inter-organization stats/reports.</p></div>
       </div>
     </div>

    </div>
<% end %>