<% content_for :title do %>
    Crisis Cleanup - VOAD
<% end %>

<% content_for :subheader do %>
<div class="row subheader">
    <div class="small-12 medium-8 large-10 columns">
        <h2>Voluntary Relief Agencies</h2>
        <h4 class="basic">We are building a new kind of system. Who's in charge? You are.</h4>
    </div>
    <div class="small-12 medium-4 large-2 columns" align="center">
        <%= image_tag "characters/Two Soccer Players Running Toward One Another-Boxes.png", :class => "character" ,:alt => "Crisis Cleanup is for VOADs"  %>
    </div>
    <hr class="medium">
</div>
<% end %>

<% content_for :main do %>
<div id="main" class="alt">
    <div class="row">
        <h3>Welcome to Crisis Cleanup!</h3>
            <p>Crisis Cleanup helps relief organizations coordinate cleanup efforts after a disaster. In order to participate in Crisis Cleanup, an organization must:</p>
            <ul>
            <li><strong>Have a physical presence in the area</strong> ("boots on the ground" or a call center)</li>
            <li><strong>Interact directly with survivors</strong></li>
            <li><strong>Perform property assessments or remediation</strong> (assessments, debris removal, muck-outs, rebuilding, etc.)</li>
            <li><strong>Be a <a title="Link: #reputability" href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200603007#reputability">reputable</a> organization</strong> (Incorporation is not always necessary, but individuals may not join independently).</li>
            </ul>
            <p>Crisis Cleanup has a <strong>bias for inclusion</strong>—that is, any organization that meets all four requirements should be allowed to participate, absent some extenuating or unforeseen circumstance.</p>
            <p>For full access, all four elements are required, which means that not every organization will be allowed to participate. For example, the American Red Cross and county offices of emergency management (OEM) are certainly reputable, and always has a physical presence in the area, but do not <em>usually</em> perform the type of cleanup work that Crisis Cleanup facilitates; therefore, the Red Cross and OEM would <em>typically</em> have <a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200603007#access">lesser access</a>, unless they meet all requirements. Similar restrictions apply to <a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200603007#government">local governments</a>, unless they play a direct assessment or active coordination role in disaster recovery.</p>
            <p>Non-VOAD and spontaneous grassroots organizations that can demonstrate <a href="#reputability">reputability</a> are encouraged to join Crisis Cleanup. See the <a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200603007">Requirements for Participation</a> for complete details.</p>
            <p>If your organization qualifies, please watch this Mandatory Training video, and <a href=""><button>Sign Up!</button></a></p>
            <p><iframe width="560" height="315" src="https://www.youtube.com/embed/tpMOgDr_KGI" frameborder="0" allowfullscreen></iframe></p>
        <h3>Is Crisis Cleanup a Good Fit?</h3>
            <p>There is no such thing as the "One App to Rule Them All." Crisis Cleanup is really good at coordinating many organizations who are all cleaning up in the same area. Crisis Cleanup is a good fit when:
                <ul>
                <li><a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200596493-Is-Crisis-Cleanup-a-Good-Fit-#nopii#start">How/When to Start a New Incident</a></li>
                <li><a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200596493-Is-Crisis-Cleanup-a-Good-Fit-#nopii#bigarea">Large Geographic Area, Many Work Sites</a></li>
                <li><a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200596493-Is-Crisis-Cleanup-a-Good-Fit-#nopii#manyorgs">Many Responding Organizations</a></li>
                <li><a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200596493-Is-Crisis-Cleanup-a-Good-Fit-#nopii#nopii">Property, Not Personal Information</a></li>
                <li><a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200596493-Is-Crisis-Cleanup-a-Good-Fit-#nopii#needs">Property Needs Assessment</a></li>
                <li><a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200596493-Is-Crisis-Cleanup-a-Good-Fit-#nopii#fielduse">Active Use by Field Workers</a></li>
                <li><a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200596493-Is-Crisis-Cleanup-a-Good-Fit-#nopii#grassroots">Early Grassroots Adoption</a></li>
                <li><a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200596493-Is-Crisis-Cleanup-a-Good-Fit-#nopii#collaborative">Collaborative Accountability</a></li>
                <li><a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200596493-Is-Crisis-Cleanup-a-Good-Fit-#nopii#rrr">Clear Roles, Relationships and Resources</a>: Crisis Cleanup helps with the "4Cs" of disaster recovery, but the 4Rs (Relationships, Resources, Roles, and Responsibilities) are up to you.</li>
                </ul>
            </p>

        <h3>Property, Not Personal Information</h3>
            <p><strong>Crisis Cleanup is about Property, not People</strong>. For privacy reasons, Crisis Cleanup helps recovery organizations fix property (assessments, debris removal, muck-outs, rebuilding, etc). Crisis Cleanup may NOT be used for:
                <ul>
                    <li>Case Management</li>
                    <li>Spontaneous Volunteer Management</li>
                    <li>Donations Management</li>
                </ul>
            <u>Crisis Cleanup may not be used to store sensitive personal information such as SSNs, medical information, or dates of birth</u>. See the <a href="/hc/en-us/articles/200819327-Client-Personal-Data-Collection-Policy">Client Personal Data Collection Policy</a>.</p>
    </div>
</div>
<% end %>

<% content_for :sidebar do %>
<div id="sidebar">
    <h4>Join Crisis Cleanup!</h4>
    <p>Crisis Cleanup is for reputable relief organizations only, and can be deployed with 6-hours' notice. <a href=""><button>Sign Up!</button></p>
    <p>There are no size or declaration requirements. Crisis Cleanup is free to relief agencies.</p>
    <p>Crisis Cleanup helps communication, coordination, collaboration, and cooperation. However, it cannot help with the 4Rs of disaster recovery: Relationships, Resources, Roles, and Responsibilities.</p>
</div>
<% end %>