<% content_for :title do %>
    Crisis Cleanup - Volunteer
<% end %>

<% content_for :subheader do %>
<div class="row subheader">
    <div class="small-12 medium-8 large-10 columns">
        <h2>Volunteers</h2>
        <h4 class="basic">Thank you for helping your community</h4>
    </div>
    <div class="small-12 medium-4 large-2 columns" align="center">
        <%= image_tag "characters/Workers Shovel Hammer-Team1.png", :class => "character" ,:alt => "Volunteers Power Crisis Cleanup"  %>
    </div>
    <hr class="medium">
</div>
<% end %>

<% content_for :main do %>
<div id="main" class="alt">
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <h3>Affiliated vs. Unaffiliated Volunteers</h3>
            <p><strong>First, thank you for helping your neighbors.</strong> Always remember to respect the dignity of those you serve by listening to their needs and wishes.</p>
            <p>You are a qualified <strong>Affiliated Volunteer</strong> if you are already volunteering with an organization using Crisis Cleanup. Otherwise, you are an <strong>Unaffiliated Volunteer</strong> <em>(sometimes called "Spontaneous Unaffilated Volunteers," "SUVs," or "Community Volunteers")</em>.</p>
            <p>Your community needs you whether you are affiliated or unaffiliated. However, only affiliated volunteers can use Crisis Cleanup. If you are <u>already affiliated</u> with an organization using Crisis Cleanup, please click the "Request an Invitation" button below.</p>
            <h5>Why won't you let unaffiliated volunteers join?</h5>
            <p>To protect disaster survivors, only volunteers from trusted organizations are allowed to join.</p>
            <h5>But I just want to help! Can't I just join an organization through Crisis Cleanup?</h5>
            <p>Please don't. You need to be vetted and trained by the organization first. Applying here will only distract field volunteers from their primary mission of helping survivors. Please apply directly to the organization of your choice.</p> 
            <h5>What should I do if I'm an Unaffiliated Volunteer?</h5>
            <p>We're not going to lie&mdash;volunteering as an SUV is hard. Our advice is to be <a href="http://blog.crisiscleanup.org/2015/06/be-patient-be-persistent-and-never-give.html">be patient, be persistent, and never give up hope.</a></p>
            <h5>OK. I'm a qualified affiliated volunteer. What next?</h5>
            <p>First, Watch the training video below. Then request an invitation below.</p>

            <p><iframe width="100%" height="315" src="https://www.youtube.com/embed/tpMOgDr_KGI" frameborder="0" allowfullscreen></iframe></p>
            <a href="" class="button">Request an Invitation!</a>
        </div>
    </div>
</div>
<% end %>

<% content_for :sidebar do %>
<div id="sidebar">
    <h4>Thank you!</h4>
    <p>Here is some advice you might find helpful as you try to volunteer:
        <ul>
            <li><a href="http://blog.crisiscleanup.org/2015/08/the-root-of-volunteering-trust-and.html">The Root of Volunteering: Trust and Training</a></li>
            <li><a href="http://blog.crisiscleanup.org/2015/06/be-patient-be-persistent-and-never-give.html">Be Patient. Be Persistent. And Never Give up Hope.</a></li>
        </ul>
    </p>
</div>
<% end %>
