<% content_for :title do %>
    Crisis Cleanup - Volunteer
<% end %>

<% content_for :subheader do %>
<div class="row subheader">
    <div class="small-12 medium-8 large-10 columns">
        <h2>Volunteers</h2>
        <h4 class="basic">Thank you for helping your community</h4>
        <hr class="medium">
    </div>
    <div class="small-12 medium-4 large-2 columns" align="center">
        <%= image_tag "characters/Workers Boards Wheelbarrow.png", :class => "character" ,:alt => "Volunteers Power Crisis Cleanup"  %>
    </div>
</div>
<% end %>

<% content_for :main do %>
<div id="main" class="alt">
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <h3>You must join an organization to use Crisis Cleanup</h3>
            <p>Crisis Cleanup is for relief organizations and their volunteers; not for individual volunteers. Join an organization first, and then you can be invited to participate.</p>
            <h3>Affiliated vs. Unaffiliated Volunteers</h3>
            <p><strong>Thank you for helping your neighbors.</strong> Always remember to respect the dignity of those you serve by listening to their needs and wishes.</p>
            <p><strong>Affliated Volunteers</strong> are already volunteering with an organization that uses Crisis Cleanup. Otherwise, you are an <strong>Unaffiliated Volunteer</strong> <em>(sometimes called "Spontaneous Unaffilated Volunteers," "SUVs," "Community Volunteers," or "Event-based Volunteers")</em>. This includes people who <em>want</em> to volunteer with an organization, but haven't yet.</p>
            <p>Your community needs you whether you are affiliated or unaffiliated. However, only affiliated volunteers can use Crisis Cleanup.</p>
            <h4>To Join as an Affiliated Volunteer</h4>
            <p>First, complete the <a href="/training">Training</a>.</p>
            <p>If you are <u>already affiliated</u> with an organization using Crisis Cleanup, there are two ways to join:
                <ol>
                    <li><strong>Ask for an Email Invitation</strong><br /> <%= image_tag "screenshots/invite_users_email.png", :alt => "Invite Users via Email", :width => "400"  %>
                        <ul>
                            <li>Contact <strong>anyone</strong> in your organization who has already logged in to Crisis Cleanup. Tell them to log in and click "Dashboard."</li>
                            <li>They should see a field that says, "Invite Users By Email."</li>
                            <li>Ask them to type your email and click "Submit Invites."</li>
                        </ul>
                    </li>
                    <li><strong>Ask for a Temporary Password</strong><br /> <%= image_tag "screenshots/invite_users_temp_password.png", :alt => "Invite Users using a Temporary Password", :width => "400"  %>
                        <ul>
                            <li>This option is a little more complex. Invitation by email is easier. Use this option if you are in the field (e.g. on a bus).</li>
                            <li>Contact <strong>anyone</strong> in your organization who has already logged in to Crisis Cleanup. Tell them to log in and click "Dashboard."</li>
                            <li>Click "Generate Random Password." They should give the password to you. It's good for 30 minutes.</li>
                            <li><a href="/login">Login</a>, and click, "<a href="/worker/temporary_passwords/new">I have a temporary password</a>." Enter your email and temporary password.</li>
                        </ul>
                    </li>
                    <!--<li><a href="" class="button">Request an Invitation!</a></li>-->
                </ol>
            </p>
            <h4>What to do as an Unaffiliated Volunteer</h4>
            <h5>Why won't you let unaffiliated volunteers join?</h5>
            <p>To protect disaster survivors, only volunteers from trusted organizations are allowed to join.</p>
            <h5>But I just want to help! Can't I just join an organization through Crisis Cleanup?</h5>
            <p>Unfortunately not. Please apply directly to the organization of your choice. Don't try to affiliate through Crisis Cleanup. You need to be vetted and trained by the organization first. Applying here will only distract field volunteers from their primary mission of helping survivors.</p> 
            <h5>What should I do if I'm an Unaffiliated Volunteer?</h5>
            <p>Volunteering as an SUV is hard. Our advice is to be <a href="http://blog.crisiscleanup.org/2015/06/be-patient-be-persistent-and-never-give.html">be patient, be persistent, and never give up hope.</a></p>
        </div>
    </div>
</div>
<% end %>

<% content_for :sidebar do %>
<div id="sidebar">
    <h4>Thank you!</h4>
    <!--<a href="" class="button">Request an Invitation!</a>-->
    <p>Here is some advice you might find helpful as you try to volunteer:
        <ul>
            <li><a href="http://blog.crisiscleanup.org/2015/08/the-root-of-volunteering-trust-and.html">The Root of Volunteering: Trust and Training</a>.</li>
            <li><a href="http://blog.crisiscleanup.org/2015/06/be-patient-be-persistent-and-never-give.html">Be Patient. Be Persistent. And Never Give up Hope.</a></li>
            <li>Read <a href="http://h2prep.me/ccu"><em>How to Prepare for Everything</em></a>.</li>
        </ul>
    </p>
</div>
<% end %>
