<% content_for :title do %>
    Crisis Cleanup - Worksite Tracker
<% end %>

<% content_for :subheader do %>
   
<% end %>

<% content_for :main do %>
<div id="main">
    <div class="row">
        <div class="row">
            <div class="columns small-12 medium-12 large-4">
                <h1>That was Easy!</h1>
                  <p>Now make sure you join Crisis Cleanup to have full access to the database:
                <ul>
                  <li>Ask someone from your organization to invite you by logging in and entering your email where it says "Invite Additional Teammates."</li>
                  <li>If your organization hasn't registered yet, <a href="https://www.crisiscleanup.org/register" target="_blank">please register</a>!</li>
                  <li>Or <a href="https://www.crisiscleanup.org/login">Login</a>.</li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>
<% end %>


<% content_for :javascripts do %>
<% end %>
