<% content_for :title do %>
    Crisis Cleanup - Worksite Tracker
<% end %>

<% content_for :subheader do %>
   
<% end %>

<% content_for :main do %>
<div id="main">
    <div class="row home_coordinated_disasters">
        <div class="row">
            <div class="columns small-12 medium-12 large-4" align="center">
                <h1>Thanks for helping!</h1>
                <p>You can learn more about Crisis Cleanup and how to sign up below:</p>
            </div>
        </div>
    </div>
</div>
<% end %>


<% content_for :javascripts do %>
<% end %>
