<!-- alert messages go in the container below -->
<!-- use <span class=""></span> formatting and the classes -->
<!-- legend:
        alert = red
        warning = orange
        success = green
        info = blue
-->

<div class="alert_menu">
<span class=""></span>
</div>