<!-- alert messages + incident selection -->
<!-- for alerts use <span class=""></span> formatting and legend classes below -->
<!-- legend:
        alert = red
        warning = orange
        success = green
        info = blue
-->

<div class="alert_menu">
    <div class="row">
        <div class="small-12 medium-6 large-8 columns alert_one_half">
            <p><span class="info">Welcome to Crisis Cleanup!</span></p>
        </div>    
        <div class="small-12 medium-6 large-4 columns alert_one_half">
        <!-- show only for verified users -->    
        <% if current_user %>
          <form>
              <label>Choose Incident: 
                <select>
                  <% current_user.legacy_organization.legacy_events.each do |event| %>
                  <option value="<%= event.id %>"><%= event.name %></option>
                  
                  <% end %>
                </select>
              </label>
          </form>
        <% end %>
        </div>
        <!-- end show only for verified users -->    
    </div>
</div>