<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <%= link_to image_tag   "ccu-logo-white.png" %>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <!-- right side navigation -->
    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Map</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Sign Up</a></li>
            <li><a href="#">Form</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </section>
</nav>