<!-- example public facing dashboard nav -->
<nav>
    <ul class="navbar-nav">
        <li>Home</li>
        <li>About</li>
        <li>Press</li>
    </ul>
</nav>
<!-- this is  the nav for the client facing site -->
