<div class="margin-top row">
	<div class="small-12 large-12 columns">
		<a href=<%=new_admin_legacy_event_path%> class="button">New Legacy Event</a>
	</div>
	<div class="small-12 large-12 columns">
		<%= render 'table', events: @events %>
	</div>
</div>