/* MAP & FORM
   ----------------------------- */

#wrapper {
    width: 100%;
    height: 85%; /* flexible depending on page content. */
    display: table;
}

hr {
    width: 98%;
    padding-top: 1rem;
}

.alt {
    // Sidebar Template
    display: table-cell;
    width: 70%;
    & p, ul {
        width: 95%;
    }
    & h4 {}
}

// Sidebar Template
#sidebar {
    width: 30%;
    left: 70%;
    display: table-cell;
    background-color: gainsboro;

    border: 2px solid $smoke;
    & ul {
        width: 100%;
        margin-left: 0;
    }
    & h4 {
        margin-left: 13px;
        margin-top: 10px;
    }
    & input[type="checkbox"] + label, input[type="radio"] + label {
        margin-right: 0;
    }
    & .tabs {
            margin-top: 10px;
            margin-left: 20px;
    }
    & .tab-title a {
            padding: 10px;
    }
    & .simple_form {
        max-height: 500px; /* fits viewport on standard laptop screen */
        overflow-y: scroll;
        width: 90%;
        margin-left: 5%;
        & .columns {
            padding-left: 0;
        }       
        & input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"]{
            width: 100%;
            height: 1.8rem;
            margin: 0;
        }
        & select {
            width: 100%;
        }
        & textarea {
            height: 100px;
        }
        & .fa {
        background: #ccc;
        padding: 5px;
        color: #fff;
        }
    }
}


.sideblock {
    & .columns {

    }
    & h4,
    p {
        color: #fff!important;
    }
    & h4 {
        margin-top: 10px;
    }
}

.button {
    border: none;
}

// Tables
table {
    margin-bottom: 0;
}

// Map
.map-wrapper {
    width: 100%;
    height: 100%;
    min-height:600px;
    background-color: $smoke;
    margin-top: -3px;
}
.legend {
  z-index: 2;
  position: absolute;
  left: 0;
  margin-top: -214px;
  background-color: #ffffff;
  padding: 0px;
  max-width: 200px;
    border-top: 2px solid #5c5c5c;    
    border-right: 2px solid #5c5c5c;    
}

#map-infobox {
  display: none;
  z-index: 2;
  position: absolute;
  bottom: 0;
  background-color: #fff;
  border-top: 2px solid #5c5c5c;    
  border-right: 2px solid #5c5c5c;    
  border-left: 2px solid #5c5c5c;        
  padding: 0px;
  height: 215px;
  width: 60%;
  left: 215px;
  overflow-y: scroll;
  & .close {
    z-index: 3;
    position: absolute;
    right: 0.25rem;
    top: 0.25rem;
    background: inherit;
    color: #333333;
    font-size: 1.375rem;
    opacity: 0.3;
    padding: 0 6px 4px;
  }
    & .button {
        margin-right: 5px;
    }
}

#map-filters {
    margin: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;
    & .columns {
        margin-bottom: 0!important;
    }
}

// MEDIA QUERIES
@media only screen and (max-width: 767px) {
    .alt {
        display: block;
        width: 100%;
        clear: both;
        & p {
            width: 100%;
        }
    }
    #sidebar {
        width: 98%;
        margin-left: 1%;
        margin-top: 20px;
        clear: both;
        display: block;
        padding: 10px 0 10px 0;
        background-color: gainsboro;
    }
    #map-infobox {
        width: 100%;
        left: 0;
    }
    #copyright .right {
        margin-right: 0;
    }
    #map-canvas {
        width: 98%;
        margin-left: 1%;
        height: 600px;
        background-color: $smoke;
        margin-top: -41px;
    }
}

