/* MAP & FORM
   ----------------------------- */

#wrapper {
    width: 100%;
    height: 85%; /* flexible depending on page content. */
    display: table;
}

hr {
    width: 98%;
    padding-top: 1rem;
}

.alt {
    // Sidebar Template
    display: table-cell;
    width: 70%;
    & p, ul {
        width: 95%;
    }
    & h4 {}
}

// Sidebar Template
#sidebar {
    width: 30%;
    left: 70%;
    display: table-cell;
    background-color: gainsboro;

    border: 2px solid $smoke;
    & h4, ul {
        width: 90%;
        margin-left: 5%;
    }
    & h4 {
        margin-top: 10px;
    }
    & input[type="checkbox"] + label, input[type="radio"] + label {
        margin-right: 0;
    }

    & .simple_form {
        max-height: 715px;
        overflow-y: scroll;
        width: 90%;
        margin-left: 5%;
        & .columns {
            padding-left: 0;
        }
        & h4 {
            width: 100%; // offsets global #sidebar h4 styling
            margin-left: 0; // offsets global #sidebar h4 styling
        }        
        & input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"]{
            width: 100%;
            height: 1.75rem;
            margin: 0;
        }
        & select {
            width: 100%;
        }
        & #show_hide_button {
            margin: .5rem 0 0 1px;
            padding: 5px 10px 5px 10px;
        }
    }
}


.sideblock {
    & .columns {

    }
    & h4,
    p {
        color: #fff!important;
    }
    & h4 {
        margin-top: 10px;
    }
}

footer {
    background: $coal;
    color: #fff;
    & h4 {
        color: #fff;
        margin-top: 10px;
    }
    clear:both;
    height: auto;
    width: 100%;
    & .columns {}
    & #footer {
        max-width: 95%;
    }
    & .footer-logo img {
        width: 65%;
        height: auto;
        margin: 3% 0 5px 0;
    }
    & .medium-8 .medium-4.columns {
        border-left: 1px solid #fff;
    }
}

#copyright {
    background: $coal;
    color: #fff;
    max-width: 100rem;
    text-align: center;
    border-top: 1px solid #fff;
    padding: 5px 0 5px 0;
    & .columns p {
        margin: 0;
    }
    & ul {
        padding: 0;
        margin: 0;
    }
    & ul li {
        list-style-type: none;
        display: inline;
    }
    & a:link,
    a:visited {
        color: $goldenrod;
    }
    & .right {
        margin-right: 40px;
    }
}

.tabs dd.active a, .tabs .tab-title.active a {
    background: $royal;
    color: #fff;
}

.button {
    border: none;
}

// Tables
table {
    margin-bottom: 0;
}

// Map
.map-wrapper {
    width: 100%;
    height: 100%;
    min-height:600px;
    background-color: $smoke;
    margin-top: -41px;
}
.legend {
  z-index: 2;
  position: absolute;
  left: 0;
  margin-top: -215px;
  background-color: #ffffff;
  opacity: .8;
  padding: 0px;
  max-width: 200px;
}

// TODO: make this crap look good!
#map-infobox {
  z-index: 2;
  position: absolute;
  left: 200px;
  margin-top: -215px;
  background-color: #ffffff;
  padding: 0px;

  table tr td {
    padding: 1px 4px;

    * {
       margin: 0px;
    }
  }
}

@media only screen and (max-width: 767px) {
    .alt {
        display: block;
        width: 100%;
        clear: both;
        & p {
            width: 100%;
        }
    }
    #sidebar {
        width: 98%;
        margin-left: 1%;
        margin-top: 20px;
        clear: both;
        display: block;
        padding: 10px 0 10px 0;
        background-color: gainsboro;
    }
    #copyright .right {
        margin-right: 0;
    }
    #map-canvas {
        width: 98%;
        margin-left: 1%;
        height: 600px;
        background-color: $smoke;
        margin-top: -41px;
    }
}

