/* WORKER DASHBOARD
   ----------------------------- */

#wrapper {
    max-width: 96%;
    margin-left: 2%;
    display: table;
}

hr {
    width: 98%;
    padding-top: 1rem;
}

// Sidebar Template
.alt {
    display: table-cell;
    width: 70%;
    & p, ul {
        width: 95%;
    }
    & h4 {}
}

#sidebar {
    width: 30%;
    left: 70%;
    display: table-cell;
    background-color: gainsboro;
    
    border: 2px solid $smoke;
    & h4, p, ul li {
        width: 90%;
        margin-left: 5%;
    }
    & h4 {
        margin-top: 10px;
    }
    & form, select option {
    width: 95%;
    margin-left: 2.5%;
    }    
}

.sideblock {
    & .columns {
    }
    & h4,
    p {
        color: #fff!important;
    }
    & h4 {
        margin-top: 10px;
    }
}

footer {
    background: $coal;
    color: #fff;
    & h4 {
        color: #fff;
        margin-top: 10px;
    }
    clear:both;
    height: auto;
    width: 100%;
    & .columns {}
    & #footer {
        max-width: 95%;
    }
    & .footer-logo img {
        width: 65%;
        height: auto;
        margin: 3% 0 5px 0;
    }
    & .medium-8 .medium-4.columns {
        border-left: 1px solid #fff;
    }
}

#copyright {
    background: $coal;
    color: #fff;
    max-width: 100rem;
    text-align: center;
    border-top: 1px solid #fff;
    padding: 5px 0 5px 0;
    & .columns p {
        margin: 0;
    }
    & ul {
        padding: 0;
        margin: 0;
    }
    & ul li {
        list-style-type: none;
        display: inline;
    }
    & a:link,
    a:visited {
        color: $goldenrod;
    }
    & .right {
        margin-right: 40px;
    }
}

.invite {
    padding-left: 0;
    & input#email_addresses {
        height: 50px;
    }
}

.button {
    border: none;
}

// Tables
table {
    margin-bottom: 0;
}
.section-heading-tab {
    background: #242424;
    color: #fff;
}

// Map
#map-canvas {
    width: 100%;
    height: 600px;
    background-color: $smoke;
    margin-top: -41px;
}

@media only screen and (max-width: 767px) {
    .alt {
        display: block;
        width: 100%;
        clear: both;
        & p {
            width: 100%;
        }
    }
    #sidebar {
        width: 100%;
        margin-top: 20px;
        clear: both;
        display: block;
        padding: 10px 0 10px 0;
        background-color: gainsboro;
        
    }
    #copyright .right {
        margin-right: 0;
    }
}