/* WORKER DASHBOARD
   ----------------------------- */

#wrapper {
    max-width: 96%;
    margin-left: 2%;
    display: table;
}

hr {
    width: 98%;
    padding-top: 1rem;
}

// Sidebar Template
.alt {
    display: table-cell;
    width: 70%;
    & p, ul {
        width: 95%;
    }
    & h4 {}
}

#sidebar {
    width: 30%;
    left: 70%;
    display: table-cell;
    background-color: gainsboro;
    
    border: 2px solid $smoke;
    & h4, p, ul li {
        width: 90%;
        margin-left: 5%;
    }
    & h4 {
        margin-top: 10px;
    }
    & form, select option {
    width: 95%;
    margin-left: 2.5%;
    }    
}

.sideblock {
    & .columns {
    }
    & h4,
    p {
        color: #fff!important;
    }
    & h4 {
        margin-top: 10px;
    }
}

.invite {
    padding-left: 0;
    & input#email_addresses {
        height: 50px;
    }
}

.button {
    border: none;
}

// Tables
table {
    margin-bottom: 0;
}
.section-heading-tab {
    background: #242424;
    color: #fff;
}

// Map
#map-canvas {
    width: 100%;
    height: 600px;
    background-color: $smoke;
    margin-top: -41px;
}

@media only screen and (max-width: 767px) {
    .alt {
        display: block;
        width: 100%;
        clear: both;
        & p {
            width: 100%;
        }
    }
    #sidebar {
        width: 100%;
        margin-top: 20px;
        clear: both;
        display: block;
        padding: 10px 0 10px 0;
        background-color: gainsboro;
        
    }
    #copyright .right {
        margin-right: 0;
    }
}