<% content_for :title do %>
    Crisis Cleanup - Call Dashboard
<% end %>

<% content_for :subheader do %>
    <div class="row">
      <div class="large-12 columns">
        <h2 class="center">Call Dashboard</h2>
         <div align="center">
        </div>       
      </div>
    </div>
    <div class="row">
      <div class="small-12 large-5 large-centered columns">
      </div>
    </div>
<% end %>

<% content_for :main do %>
<style>


</style>

  <div class="large-12 medium-12 columns">
        <div class="panel" style="background: white;">
          <div class="row">
            <div class="small-12 large-12 columns">
              <h4>There are not currently any return calls to make. Please check back later, as we will update the system with new calls regularly.</h4>
            </div>
          </div>
      </div>
  </div>

<% end %>
