<% content_for :title do %>
    Crisis Cleanup - Call Dashboard
<% end %>

<% content_for :subheader do %>
    <div class="row">
      <div class="large-12 columns">
        <h2 class="center">Call Dashboard</h2>
         <div align="center">
        </div>       
      </div>
    </div>
    <div class="row">
      <div class="small-12 large-5 large-centered columns">
      </div>
    </div>
<% end %>

<% content_for :main do %>
<style>


</style>

  <div class="large-12 medium-12 columns">
        <div class="panel" style="background: white;">
          <div class="row">
            <div class="small-12 large-12 columns">
              <h4>There are probably not currently any return calls to make (or there might be, but you need to slap the system around to see them).</h4>
              <p>We're tracking down a bug that sometimes hide missed calls. The current workaround is:
                <ol>
                  <li>Hover over your name in the top-right corner.</li>
                  <li>Click your organization.</li>
                  <li>Turn the button off, then on, under "Allow My Organization to Make Return Calls:"</li>
                  <li>Click "<a href="https://www.crisiscleanup.org/phone/dashboard">Caller</a>" at the top of the screen</li>
                </ol>
              If there are no missed calls, then check back later, as we will update the system with new calls regularly (usually once or twice per day).</p>
            </div>
          </div>
      </div>
  </div>

<% end %>
