<div class="row">    
    <div class="small-12 medium-7 large-8 columns">
        <h2>Edit Legacy Contact</h2>
    </div>
    <div class="small-12 medium-5 large-4 columns">        
        <ul class="tabs" data-tab>
            <li class="tab-title active"><a href="#edit-panel">Edit</a></li>
            <li class="tab-title"><a href="#versions">Previous Versions</a></li>
        </ul>
    </div>
<hr>
</div>
<div class="row">
    <div class="small-12 medium-12 large-12 columns">
		<%= render 'form', contact: @contact, url: @contact.id.present? ? admin_legacy_contact_path(@contact.id) : admin_legacy_contacts_path %>
    </div>
    <div class="small-12 medium-12 large-12 columns" id="versions">
    	<%= render 'versions', versions: @versions%>
	</div>
</div>