<div class="margin-top row">
	<div class="small-12 large-12 columns">
		<a href=<%=new_admin_legacy_contact_path%> class="button">New Legacy contact</a>
	</div>
	<div class="small-12 large-12 columns">
		<%= render 'table', contacts: @contacts %>
	</div>
</div>