<% content_for :title do %>
    Crisis Cleanup - New Contact
<% end %>

<div class="row">
    <div class="small-12 medium-12 large-12 columns">
        <h2>New Legacy Contact</h2>
    </div>
<hr>
</div>
<div class="row">
    <div class="small-12 medium-12 large-12 columns">
        <%= render 'form', contact: @contact, url: admin_legacy_contacts_path %>
    </div>
</div>