<% content_for :title do %>
    Crisis Cleanup - Site form
<% end %>


<% content_for :subheader do %> 
 
<% end %>

<% content_for :main do %>
  <div id="main" class="alt">
    <!-- DO NOT REMOVE BREAK TAG or these spans-->
    <span class='m-id hidden'><%= @legacy_event.id %></span>
     <span class='m-pin hidden'>init</span>
    <br>
    <div id="map-canvas"></div>
   
  </div>
<% end %>
        
<% content_for :sidebar do %>        
  <div id="sidebar">
    <h4>Report Incident</h4>
        <div class="content active">
            <%= render 'site_form', url:worker_incident_path(@site.legacy_event.id) %>
        </div>

        </div>
<% end %>