<% content_for :title do %>
    Crisis Cleanup - Site form
<% end %>

<% content_for :subheader do %>

<% end %>

<% content_for :main do %>
  <div id="main" class="alt">
    <!-- do not remove spans -->
    <span class='m-id hidden'><%= @legacy_event.id %></span>
    <span class='m-pin hidden'>init</span>
    <div class='map-wrapper'>
      <div id="worker-map-canvas" class="form-margin-fix" style="width: 100%; min-height: 90vh; height: 90vh;"></div>
      <%= image_tag "map_legend.png", :class => "legend"  %>
    </div>
  </div>
<% end %>

<% content_for :sidebar do %>
  <div id="sidebar">
    <div class="content active">
      <%= render 'site_form', url: worker_incident_path(@site.legacy_event.id) %>
    </div>
  </div>
<% end %>

<% content_for :javascripts do %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
<% end %>
