<% content_for :subheader do %> 
 
<% end %>

<% content_for :main do %>
  <div id="main" class="alt">
    <span class='m-id hidden'><%= @legacy_event.id %></span>
    <br> <!-- DO NOT REMOVE BREAK TAG -->
    <div id="map-canvas"></div>
    <%= image_tag "map_legend.png", :class => "legend"  %>
  </div>
<% end %>
        
<% content_for :sidebar do %>        
  <div id="sidebar">
    <h4>Report Incident</h4>
        <div class="content active">
            <%= render 'site_form', url:worker_incident_path(@site.legacy_event.id) %>
        </div>

        </div>
      </div>   
</div>
<% end %>