<% content_for :title do %>
    Crisis Cleanup - Browse Sites
<% end %>

<% content_for :subheader do %>
<div class="row subheader">
    <div class="small-12 medium-8 large-10 columns">
        <h2>Browse Sites</h2>
        <hr class="medium">
        <p><em>Note: This list does not include Damage Assessments (DAs). To convert a DA to a work order, edit the DA on the map and change the "Primary Help Needed" to something like "Flood."</em></p>
    </div>
    <div class="small-12 medium-4 large-2 columns hide-for-small-only" align="center">
        <%= image_tag "characters/Houses Broken.png", :class => "character" ,:alt => "browse sites"  %>
    </div>              
</div>
<% end %>

<% content_for :main do %>
    <div class="small-12 medium-12 large-12 columns">

    <%= render 'templates/grid_base' %>
    <script type="text/x-template" id="detail-row-template">
    <div @click="onClick">
      <dl>
        <dt>Name:</dt>
        <dd>{{rowData.name}}</dd>
        <dt>Address:</dt>
        <dd>{{rowData.address}}</dd>
        <dt>Phone 1:</dt>
        <dd>{{rowData.phone1}}</dd>
        <dt>Phone 2:</dt>
        <dd>{{rowData.phone2}}</dd>
      </dl>
    </div>
    </script>
    <div id="myworksite-table">
      <my-view-table
      api-url="<%= worker_incident_legacy_sites_index_path(@event_id, :format => :json) %>"
      filter-placeholder="Case Number, Name, Address, City, County, or Zip Code"
      :fields="fields"
      :sort-order="sortOrder"
      detail-row-component="detail-row"
      >
        <template slot="actions" scope="props">
          <div class="custom-actions">
            <button class="button tiny"
                    @click="onAction('edit-item', props.rowData, props.rowIndex)">
              Edit
            </button>
          </div>
        </template>
      </my-view-table>
    </div>
  </div>
<% end %>

<% content_for :sidebar do %>
  <div class="small-12 medium-12 large-12 columns">
    <a href="#" class="button" id="download-csv-btn" style="margin-left: 13px;">Download CSV</a>
  </div>
<% end %>
