<% content_for :title do %>
    Crisis Cleanup - Browse Sites
<% end %>

<% content_for :subheader do %>
<div class="row subheader">
    <div class="small-12 medium-8 large-10 columns">
        <h2>Browse Sites<h2>
        <hr class="medium">
        <p><em>Note: This list does not include Damage Assessments (DAs). To convert a DA to a work order, edit the DA on the map and change the "Primary Help Needed" to something like "Flood."</em></p>
    </div>
    <div class="small-12 medium-4 large-2 columns" align="center">
        <%= image_tag "characters/Houses Broken.png", :class => "character" ,:alt => "browse sites"  %>
    </div>              
</div>
<% end %>

<% content_for :main do %>
  <div id="main" class="alt">
    <div class="row">
      <%= render 'table', sites: @sites, event_id: @event_id %>
      <%= will_paginate @sites %>
    </div>
  </div>
<% end %>

<% content_for :sidebar do %>
  <div id="sidebar">
    <h4>Sites Filter</h4>
    <p>Choose a way to order sites with the form below.</p>
    <form>
      <label for="sort_order"><strong> Order By:</strong></label>
      <select id="sort_order" name="sort_order">
        <option value="">Choose a sort order</option>
        <option value="county">County</option>
        <option value="state">State</option>
        <option value="name_asc">Name (Ascending order)</option>
        <option value="name_desc">Name (Descending order)</option>
        <option value="date_asc">Date (Ascending order)</option>
        <option value="date_desc">Date (Descending order)</option>
      </select>
      <a id="submit_sort_order" class="button">Submit</a>
      <%= link_to "Download CSV", worker_incident_sites_download_path(@event_id, format: :csv), class: "button" %>
    </form>
  </div>
<% end %>
