<% content_for :title do %>
    Crisis Cleanup - Map
<% end %>

<% content_for :subheader do %>

<% end %>

<% content_for :main do %>
  <div id="main" class="alt">
    <!-- do not remove spans-->
    <span class='m-id hidden'><%= @legacy_event.id %></span>
    <span class='m-pin hidden'>all</span>
      <br>
    <div class='map-wrapper'>
      <div id="worker-map-canvas" style="width: 100%; min-height: 600px; height: 100%; margin-top: -41px;"></div>
    </div>
    <%= image_tag "map_legend.png", :class => "legend"  %>
    <div id="map-infobox"></div>
  </div>
<% end %>

<% content_for :sidebar do %>
  <div id="sidebar">
    <ul class="tabs" data-tab>
      <li class="tab-title active"><a href="#filters-panel" id="filters-anchor">Filters</a></li>
      <li class="tab-title"><a href="#form-panel" id="form-anchor">Edit Form</a></li>
    </ul>
    <div class="tabs-content">
      <div class="content active" id="filters-panel">
        <div class="row">
          <div class="small-12 columns">
            <ul id="map-filters"></ul>
          </div>
        </div>
      </div>
      <div class="content" id="form-panel">
        <%= render 'site_form', url:worker_incident_path(@site.legacy_event.id) %>
      </div>
    </div>
  </div>
<% end %>
