<% content_for :title do %>
    Crisis Cleanup - Print
<% end %>

<% content_for :subheader do %>

<% end %>

<% content_for :main do %>
  <div id="main" class="alt">
    <!-- DO NOT REMOVE BREAK TAG or these spans-->
    <span class='m-id hidden'><%= @legacy_event.id %></span>
    <span class='m-pin hidden'>all</span>

    <br> <!-- DO NOT REMOVE BREAK TAG -->
    <div class='map-wrapper'>
      <div id="worker-map-canvas" style="width: 100%; min-height: 600px; height: 100%; margin-top: -41px;"></div>
    </div>
    <%= image_tag "map_legend.png", :class => "legend"  %>
    <div id="map-infobox"></div>
  </div>
<% end %>

<% content_for :sidebar do %>
  <div id="sidebar">
    <h4>Incident Map Tools</h4>
    <ul class="tabs" data-tab>
      <li class="tab-title active"><a href="#panel1">Edit Form</a></li>
      <li class="tab-title"><a href="#panel2">Filters</a></li>
    </ul>
    <div class="tabs-content">
      <div class="content active" id="panel1">
        <%= render 'site_form', url:worker_incident_path(@site.legacy_event.id) %>
      </div>
      <div class="content" id="panel2">
      </div>
    </div>
  </div>
<% end %>
