<% content_for :title do %>
    Crisis Cleanup - Map
<% end %>

<% content_for :subheader do %>

<% end %>

<% content_for :main do %>
  <div id="main" class="alt">
    <!-- do not remove spans -->
    <% if params[:site_id] %>
    <span id="site-id" class='hide'><%= params[:site_id] %></span>
    <% end %>
    <span class='m-id hidden'><%= @legacy_event.id %></span>
    <span class='m-pin hidden'>all</span>
    <div class='map-wrapper'>
      <div id="worker-map-canvas" class="map-margin-fix" style="width: 100%; min-height: 600px; height: 100%;"></div>
      <%= image_tag "map_legend.png", :class => "legend"  %>
      <div id="map-infobox"></div>
    </div>
  </div>
<% end %>

<% content_for :sidebar do %>
  <div id="sidebar">
    <div id="filters-view">
    <h4>Search</h4>
      <input id="map-search-btn" type="search" style="width: 95%!important; margin-left: 12px;" />
      <h4>Map Filters</h4>
          <div id="map-filters"></div>
        <h4>Download</h4>
        <a href="#" class="button" id="download-csv-btn" style="margin-left: 13px;">CSV</a>
    </div>
    <div class="hide" id="form-view">
      <h4 id="form-header">Map Filters</h4>
      <%= render 'site_form', url: worker_incident_path(@legacy_event.id) %>
    </div>
  </div>
<% end %>

<% content_for :javascripts do %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
<% end %>
