<% content_for :title do %>
    Crisis Cleanup - Browse Sites
<% end %>

<% content_for :subheader do %>
    <div class="row subheader">
      <div class="small-12 medium-8 large-10 columns">
        <h2>My Claimed Worksites</h2>
      </div>
    </div>
<% end %>

<% content_for :main do %>

    <%= render 'templates/grid_base' %>
    <script type="text/x-template" id="detail-row-template">
      <div @click="onClick">
        <dl>
          <dt>Name:</dt>
          <dd>{{rowData.name}}</dd>
          <dt>Address:</dt>
          <dd>{{rowData.address}}</dd>
          <dt>Phone 1:</dt>
          <dd>{{rowData.phone1}}</dd>
          <dt>Phone 2:</dt>
          <dd>{{rowData.phone2}}</dd>
        </dl>
      </div>
    </script>
    <div id="myworksite-table">
      <my-view-table
      api-url="<%= worker_incident_mysites_path(@event_id, :format => :json) %>"
      filter-placeholder="Case Number, Name, Address, City, County, or Zip Code"
      :fields="fields"
      :sort-order="sortOrder"
      detail-row-component="detail-row"
      >
        <template slot="actions" scope="props">
          <div class="custom-actions">
            <button class="button tiny"
                    @click="onAction('edit-item', props.rowData, props.rowIndex)">
              Edit
            </button>
          </div>
        </template>
      </my-view-table>
    </div>

<% end %>
