<% content_for :main do %>
<div id="main">
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
        <h2>Work Order and Assessment: #</h2>
        <p>When finished, report the case #, volunteers, hours worked, and initials of resident present during work</p>
        </div>
    </div>
    
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
    <table role="grid">
        <thead>
        <tr>
        <th class="section-heading-tab">WORK ORDER INFORMATION</th>
        </tr>
        </thead> 
            <thead>
                <tr>                    
                    <th>Case #:</th>
                    <th>Entered By:</th>        
                    <th>Claimed By:</th>                      
                    <th><p></p></th>
                    <th><p></p></th>    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>A3405</td>
                    <td>John Snow</td>
                    <td>Americorps New Jersey</td>
                    <td><p></p></td>    
                    <td><p></p></td>        
                </tr>  
            </tbody>
        <thead>
        <tr>
            <th class="section-heading-tab">PERSONAL INFORMATION</th>
        </tr>
        </thead>      
            <thead>      
                <tr>                          
                    <th>Resident Name</th>
                    <th>Address</th>
                    <th>Phone Number</th>    
                    <th>Today's Date</th>
                    <th>Requested Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jane Doe</td>
                    <td>555 Example Street, Trenton, NJ, 12345</td>
                    <td>555-555-555</td>
                    <td>7/21/2015</td>
                    <td>7/20/2015</td>
                </tr>                          
            </tbody>
            <thead>      
                <tr>                          
                    <th>Priority (1=high)</th>
                    <th>Cross Street</th>
                    <th>Best Time To Call</th>    
                    <th>Member</th>
                    <th>First Responder</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Example 2 Street</td>
                    <td>Evening</td>
                    <td>Yes</td>
                    <td>Jack Doe</td>
                </tr>
            </tbody>
            <thead>      
                <tr>                          
                    <th>Disabled?</th>
                    <th>Over 60 Years Old?</th>
                    <th>Special Needs</th>    
                    <th><p></p></th>    
                    <th><p></p></th>    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Yes</td>
                    <td>Yes</td>
                    <td>Type 2 Diabetic</td>
                    <td><p></p></td>
                    <td><p></p></td>
                </tr>
            </tbody>
    </table>
        </div>
    </div>            
</div>
<% end %>