<% content_for :title do %>
    Crisis Cleanup - Export Sites
<% end %>

<div class="row">
  <div class="small-12 column">

    <h2>Export Sites</h2>
    <div class="row">
      <div class="small-12 column">
        <%= link_to "Download KML", admin_export_kml_path(current_user_event), class: "button" %>
      </div>
    </div>

  </div>
</div>
