<% content_for :title do %>
    Crisis Cleanup - Group Mailer
<% end %>

<div class="row">
	<div class="small-12 medium-7 large-8 columns">
		<h2>Group Mailer</h2>
    </div>
<hr>
</div>
<div class="row">
	<div class="small-12 large-12 columns">
		<%= render 'form' %>
	</div>
</div>