<% content_for :title do %>
    Crisis Cleanup - Organization Index
<% end %>


<% content_for :subheader do %> 
<div class="row subheader">
    <div class="small-12 medium-8 large-10 columns">
        <h2>Organizations</h2>
        <hr class="medium">
        <p><strong>Important: <u>Do NOT</u> share this information with the public.</strong> This information is to allow volunary organizations to coordinate with one another. You may not sign these people up for your newsletter, nor tell them what to do.</p>
    </div>
    <div class="small-12 medium-4 large-2 columns" align="center">
        <%= image_tag "characters/Team3-211.png", :class => "character" ,:alt => "organizations"  %>
    </div>  
</div>    
<% end %>

<% content_for :main do %> 
<div id="main" class="alt">
    <div class="row">
        <%= render 'table', orgs: @orgs, event_id: @event_id %>
        <%= will_paginate @orgs %>        
    </div>
</div>    
<% end %>

<% content_for :sidebar do %> 
<div id="sidebar">
    <h4>Coordinate with Others</h4>
    <p>Use this information to coordinate with other organizations on work requests.</p>
</div>
<% end %>
