<% content_for :title do %>
    Crisis Cleanup - Organization Index
<% end %>


<% content_for :subheader do %> 
<div class="subheader">
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
    <h2>Organizations</h2>
    <hr>
        </div>
    </div>    
</div>    
<% end %>

<% content_for :main do %> 
<div id="main" class="alt">
    <div class="row">
        <%= render 'table', orgs: @orgs, event_id: @event_id %>
        <%= will_paginate @orgs %>        
    </div>
</div>    
<% end %>

<% content_for :sidebar do %> 
<div id="sidebar">
    <h4>Coordinate with Others</h4>
    <p>Use this information to coordinate with other organizations on work requests.</p>
</div>
<% end %>
