<% content_for :title do %>
    Crisis Cleanup - Organization
<% end %>


<% content_for :subheader do %> 
<div class="subheader">
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
    <h2><%= @organization.name %></h2>
    <hr>
        </div>
    </div>    
</div>    
<% end %>

<% content_for :main do %> 
<div id="main" class="alt">
    <% if @user_is_member %>
    <div class="row">
        <div class="large-6 columns">
            <div style="border: 1px solid black; padding: 5px;">
                <%= form_tag(worker_incident_legacy_organization_path, method: "post") do %>
                <h5>Make Return Calls:</h5>
                <div class="switch round">
                  <%= check_box_tag(:caller_access, "yes", @organization.allow_caller_access, id: "switch1", onClick: "this.form.submit()") %>
                  <label for="switch1"></label>
                </div>
                <% end %>
            </div>
        </div>
    </div>
    <% end %>
    <div class="row">
        <%= render 'show_table', organization: @organization %>       
    </div>
</div>    
<% end %>

<% content_for :sidebar do %> 
<div id="sidebar">
    <h4>Coordinate with Others</h4>
    <p>Use this information to coordinate with other organizations on work requests.</p>
</div>
<% end %>
