<% content_for :subheader do %> 
<div class="subheader">
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
    <h2>Form<h2>
    <hr>
        </div>
    </div>    
</div>    
<% end %>
        
<% content_for :main do %>
<div id="main" class="alt">
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
  function initialize() {
    var mapCanvas = document.getElementById('map-canvas');
    var mapOptions = {
      center: new google.maps.LatLng(39, -90),
      zoom: 4,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(mapCanvas, mapOptions)

    $.get( "/api/map?legacy_event_id=<%= @legacy_event_id %>", function( data ) {
      $.each(data, function(index, obj) {
      	var marker1 = new google.maps.Marker({
      		position: new google.maps.LatLng(parseFloat(obj["latitude"]), parseFloat(obj["longitude"])),
      	    map: map
      	});
      })
    });
  }

  
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
    <br> <!-- DO NOT REMOVE BREAK TAG -->
	<div id="map-canvas"></div>

</div>
<% end %>

<% content_for :sidebar do %>        
<div id="sidebar">
    <%= render 'site_form' %>
</div>
<% end %> 

