<% content_for :main do %> 
<div class="row">
    <div class="small-12 medium-12 large-12 columns">
	   <h2>Sites<h2>
    </div>    
<hr>           
</div>       
<div class="row">        
    <div class="small-12 medium-12 large-12 columns">
		<%= render 'table', sites: @sites %>
        <%= will_paginate @sites %>
	</div>
</div>
<% end %>
