<% content_for :subheader do %> 
<div class="subheader">
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
    <h2>Sites<h2>
    <hr>
        </div>
    </div>    
</div>    
<% end %>

<% content_for :main do %> 
<div id="main" class="alt">
    <div class="row">
		<%= render 'table', sites: @sites %>
        <%= will_paginate @sites %> 
	</div>	     
</div>    

<script>
$(function() {
    $( "#submit_sort_order" ).click(function() {
        var sort_order = $("#sort_order").val();
        var current_url = window.location.href;
        if (current_url.indexOf("?") != -1) {
            current_url = current_url.slice(0, current_url.indexOf("?"))
        }
        window.location = current_url + "?order=" + sort_order
    });
    var myParam = location.search.split('order=')[1]
    if (myParam) {
        $("#sort_order").val(myParam);
    }
});
</script>

<% end %>
    
<% content_for :sidebar do %> 
<div id="sidebar">
    <h4>Site Filter</h4>
    <p>Choose a way to order sites with the form below.</p>
        <form>
            <label for="sort_order"><strong> Order By:</strong></label>
                <select id="sort_order" name="sort_order">
                  <option value="">Choose a sort order</option>
                  <option value="county">County</option>
                  <option value="state">State</option>
                  <option value="name_asc">Name (Ascending order)</option>
                  <option value="name_desc">Name (Descending order)</option>
                  <option value="date_asc">Date (Ascending order)</option>
                  <option value="date_desc">Date (Descending order)</option>
                </select> 
                <a id="submit_sort_order" class="button expand">Submit</a>   
            <script>
                $(function() {
                $( "#submit_sort_order" ).click(function() {
                    var sort_order = $("#sort_order").val();
                    var current_url = window.location.href;
                    if (current_url.indexOf("?") != -1) {
                        current_url = current_url.slice(0, current_url.indexOf("?"))
                    }
                    window.location = current_url + "?order=" + sort_order
                });
                var myParam = location.search.split('order=')[1]
                if (myParam) {
                    $("#sort_order").val(myParam);
                }
            });
            </script>  
        </form> 
</div>
<% end %>
        
