<% content_for :title do %>
    Crisis Cleanup - Sign up
<% end %>

<% content_for :main do %>
	<div class="row">
		<div class='small-12 medium-12 large-12 columns'>
        	<h3>Sign Up For Crisis Cleanup</h3>
            <hr>
			<p>
				<ul>
					<li><strong>First Time</strong>: Use this form to sign up your organization for the first time.</li>
					<li><strong>Redeploy</strong>: If your organization has used Crisis Cleanup in the past and you'd like to join a new incident, <a href="/login">login</a>, then hover over "Dashboard" on the nav bar and click "Redeploy."</li>
					<li><strong>Volunteer</strong>: If you are a volunteer, ask another member of your organization to send you an email invitation through the Dashboard.</li>
					<li><strong>New incident</strong>: <a href="/new_incident">Request a new Incident</li>.
				</ul>
			</p>
		</div>
	</div>
	<div class="row">
		<div class='small-12 medium-12 large-12 columns'>
	       <%= render 'registration_form', org: @org, url: '/register' %>
        </div>
</div>
<%end%>