<% content_for :title do %>
    Crisis Cleanup - Sign up
<% end %>

<% content_for :main do %>
	<div class="row">
		<div class='small-12 medium-12 large-12 columns'>
        	<h3>Sign Up For Crisis Cleanup</h3>
            <hr>
			<p>Alcatra chicken turkey flank, pancetta doner hamburger pork loin ribeye picanha shoulder. Alcatra short loin pastrami rump t-bone tail. Ham hock picanha pork belly bresaola pancetta, brisket turkey filet mignon jowl salami tail tongue fatback. Sirloin picanha fatback kielbasa, kevin shank short ribs brisket ribeye ham hock ham. T-bone ground round porchetta pig capicola kielbasa chicken beef ribs tail chuck drumstick beef ham hock leberkas. Picanha meatloaf turkey alcatra spare ribs ground round kielbasa pig capicola pancetta ham.</p>			
			<p>Contact Us to request a new Incident.</p>
		</div>
	</div>
	<div class="row">
		<div class='small-12 medium-12 large-12 columns'>
	       <%= render 'registration_form', org: @org, url: '/register' %>
        </div>
</div>
<%end%>