<% content_for :title do %>
  Crisis Cleanup - Sign up
<% end %>

<% content_for :subheader do %>
  <div class="row subheader">
    <div class="small-12 medium-8 large-10 columns">
      <h2>Organization Sign Up<h2>
      <h4 class="basic">If you need help, please, please, please do NOT sign up here. You are in the wrong place, and we can't help. Call 800-451-1954 or 844-965-1386.</h4>
      <p>Organizations can fill in the information below and start using Crisis Cleanup today!</p>
    </div>
    <div class="small-12 medium-4 large-2 columns" align="center">
        <%= image_tag "characters/Multi Color 2.png", :class => "character" ,:alt => "about crisis cleanup"  %>
        <%= image_tag "characters/Team3-211.png", :class => "character" ,:alt => "worker dashboard"  %>
    </div>
    <hr class="medium">
<% end %>

<% content_for :main do %>
  <div class="row">
    <div class='small-12 medium-12 large-12 columns'>
      <h2>Example Eligibility</h2>
    </div>
  </div>
  <div class="row">
    <div class='small-12 medium-6 large-6 columns'>
      <table>
        <tr>
          <th>NOT ELIGIBLE</th>
          <th>Instead, to this...</th>
        </tr>
        <tr>
          <td>Individuals &amp; groups of friends</td>
          <td>Please volunteer with a relief organization.</td>
        </tr>
        <tr>
          <td>Survivors needing help</td>
          <td>Call 800-451-1954 or 844-965-1386.</td>
        </tr>
        <tr>
          <td>For-profit contractors</td>
          <td>Volunteer with a relief organization.</td>
        </tr>
        <tr>
          <td>Team Rubicon</td>
          <td>Ask someone to invite you to the TRUSA account.</td>
        </tr>
        <tr>
          <td>LDS Wards</td>
          <td>Register as stakes only. If your stake is registered, ask someone to <a href="https://youtu.be/3wumEh8wcak?t=72" target = "_blank">invite you</a>.</td>
        </tr>
        <tr>
          <td>Existing Accounts</td>
          <td>If you have an account, but just want access to a new incident, <a href="/login">login</a>, then hover over "Dashboard" on the nav bar and click "Redeploy."</td>
        </tr>
        <tr>
          <td>Missed Requirements</td>
          <td>If You do not meet the <a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200603007-Requirements-for-Participation" target="_blank">requirements</a>.</td>
        </tr>
      </table>
    </div>
    <div class='small-12 medium-6 large-6 columns'>
      <table>
        <tr>
          <th>Please Apply!</th>
        </tr>
        <tr>
          <td>Any oragnization that <a href="https://crisiscleanup.zendesk.com/hc/en-us/articles/200603007-Requirements-for-Participation" target="_blank">meets the requirements</a>.</td>
        </tr>
        <tr>
          <td>Churches, service organizations, faith communities</td>
        </tr>
        <tr>
          <td>Employers sponsoring employee cleanup</td>
        </tr>
        <tr>
          <td>VOADs</td>
        </tr>
        <tr>
          <td>LDS Stakes (Not wards)</td>
        </tr>
        <tr>
          <td>Emergent organizations</td>
        </tr>
      </table>
    </div>
  </div>
      <%= render 'registration_form', org: @org, url: '/register' %>
    </div>
  </div>
<% end %>
