<% content_for :main do %>
	<div class="row">
		<h3 class='medium-12 column'>Sign Up For Crisis Cleanup</h3>
		<div class='medium-12 column'>
			<p>
				Alcatra chicken turkey flank, pancetta doner hamburger pork loin ribeye picanha shoulder. Alcatra short loin pastrami rump t-bone tail. Ham hock picanha pork belly bresaola pancetta, brisket turkey filet mignon jowl salami tail tongue fatback. Sirloin picanha fatback kielbasa, kevin shank short ribs brisket ribeye ham hock ham. T-bone ground round porchetta pig capicola kielbasa chicken beef ribs tail chuck drumstick beef ham hock leberkas. Picanha meatloaf turkey alcatra spare ribs ground round kielbasa pig capicola pancetta ham.
			</p>			
			<p>Contact Us to request a new Incident.</p>
		</div>
	</div>
	<%= render 'registration_form', org: @org, url: '/register' %>
<%end%>