<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Org: <%= @user.legacy_organization.name %> </p>
    <p>User: <%= @user.email %> </p>
    <p>New event: <%= @event.name %> </p>
  </body>
</html>
