<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @user.name %> (<%= @user.email %>) has invited you to join Crisis Cleanup to assist with community recovery efforts. Do not reply to this email. Next steps:
      <ol>
        <li>Watch this Mandatory Training Video: <%= link_to training_url, training_url %>.</li>
        <li>Click this <strong>ACTIVATION LINK</strong>: <%= link_to @url, @url %>. <strong>DO NOT FORWARD THIS EMAIL</strong>. <!--(If the link has trouble, try adding "www." to the URL)--></li>
        <li>Type your name, choose a password 8+ characters long, then log in. Click "Forgot Password" if you forget your password.</li>
        <li>After logging in, invite <em>all authorized members of your organization</em> to participate, from the Dashboard. They can update records and help more people. <u>Do not forward this email.</u> To invite others: <a href="https://youtu.be/3wumEh8wcak?t=71">https://youtu.be/3wumEh8wcak?t=71</a>.</li>
        <li>Only claim work orders that you can complete in 1-6 days. Do not claim large numbers of work orders in an area unless you can complete them all within six days. Unclaim if you cannot complete.</li>
      </ol></p>
    <p>Crisis Cleanup helps organizations coordinate debris removal, muckout, and cleanup work. Crisis Cleanup is about <em>property</em>, not <em>people</em>. Never store sensitive personal information, like SSNs or FEMA numbers in Crisis Cleanup.</p>
    <p>Any organization can enter a work request into Crisis Cleanup, and any organization with capacity can claim it and go to work. When everyone uses the system, tens of thousands of volunteers from hundreds of organizations go straight to work, and each organization knows where the others are working.</p>
    <p>If you received this email in error, you may ignore it. We won't send you any more email if you don't activate.</p>
    <p>Crisis Cleanup has been used by more than 650 organizations to coordinate more than fifty disaster relief efforts in five countries.</p>
    <p><strong>-Crisis Cleanup Support Services</strong></p>
    <p>Twitter: <a href="https://twitter.com/CrisisCleanup">@CrisisCleanup</a><br />
    Help: <a href="https://crisiscleanup.zendesk.com/hc/">https://crisiscleanup.zendesk.com/hc/</a><br />
    <a href="http://bit.ly/CrisisCleanup">http://bit.ly/CrisisCleanup</a><br />
    <small><em>Crisis Cleanup is a free, open source Collaborative Disaster Recovery Mapping tool.</em></small>

    <hr />
    <p><a href="http://h2prep.me/buy" target="_blank"><img src="http://aarontitus.net/crisiscleanup/h2prep_logo.jpg" height="75" alt="How to Prepare for Everything" align="left" border="0"></a> Disaster relief volunteers receive 20% off <a href="http://h2prep.me/buy" target="_blank"><em>How to Prepare for Everything</em></a>, a guide to disaster volunteerism and preparation. Prepare with one simple change: Prepare for <em>disruptions</em>, not disasters. It doesn't matter what caused the power outage, just prepare for the power outage! Preparing for a few disruptions will prepare you for any disaster. Use coupon code, <u>volunteer17</u>.</p>
    <p><strong>Prepare for disruptions.<br />
    Prepare together.<br />
    Prepare for everything.</strong></p>
  </body>
</html>
