<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= @message.html_safe %>
    <br />
    <p><strong>-Crisis Cleanup Support Services</strong></p>
    <p>Twitter: <a href="https://twitter.com/CrisisCleanup">@CrisisCleanup</a><br />
    Help: <a href="https://crisiscleanup.zendesk.com/hc/">https://crisiscleanup.zendesk.com/hc/</a><br />
    Facebook: <a href="http://bit.ly/CrisisCleanup">http://bit.ly/CrisisCleanup</a><br />
    <small><em>Crisis Cleanup is a free, open source Collaborative Disaster Recovery Mapping tool.</em></small>

    <hr />
    <a href="http://bit.ly/CCUPod" target="_blank"><img src="http://www.aarontitus.net/crisiscleanup/CCU_Two_Pins_75x75.png" height="75" alt="Crisis Cleanup Podcast" align="left" border="0"></a> Listen to the <em><a href="http://bit.ly/CCUPod" target="_blank">Crisis Cleanup Podcast</a></em>: Just-in-time training and thoughtful conversation about voluntary disaster relief. Also, consider supporting Crisis Cleanup with a small <a href="http://bit.ly/CCUPatreon" target="_blank">monthly donation</a>. We support a new disaster <em>every two weeks</em>, for the last seven years.</p>

  </body>
</html>
