<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello</h1>
    <p>
      <%= @verified_by.email %> has granted you access to join Crisis Cleanup.  Please navigate to the link below to log in<br>
    </p>
    <ul>
      <li>Log In: <a target='_blank' href="http://crisiscleanup.org/login"> CrisisCleanup </a> </li>
      <li>About Us: CrisisCleanup.org</li>
      
    </ul>
    <p>Thanks,</p>
    <p>Crisis Cleanup</p>
  </body>
</html>