<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Org: <%= @user.legacy_organization.name %> </p>
    <p>User: <%= @user.email %> </p>
    <p>New event: <%= @event.name %> </p>

    <hr />
    <p><a href="http://h2prep.me/ccu" target="_blank"><img src="http://aarontitus.net/crisiscleanup/h2prep_logo.png" height="75" alt="How to Prepare for Everything" align="left" border="0"></a>Crisis Cleanup is proudly sponsored by <a href="http://h2prep.me/ccu" target="_blank"><em>How to Prepare for Everything</em></a>, a fresh look at personal, family, and community preparation and volunteerism. Preparing for a few disruptions will prepare you for any disaster. Buy the book and support Crisis Cleanup.</p>
    <p>Prepare for disruptions.<br />
    Prepare together.<br />
    <strong>Prepare for everything</strong>.</p>
  </body>
</html>
