<p>Hello</p>

<p><%= @user.name %> has been registered for Crisis Cleanup with <%= @name %></p>
<p>Log In: <a target='_blank' href="http://<%= Crisiscleanup::Application.config.URL
%>/login"> here</a></p>
<p>Thanks,</p>
<p>Crisis Cleanup</p>