<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello</h1>
    <p>
      <%= @org.name %> has signed up for Crisis Cleanup.  Please go to the admin dashboard to vet this organization. 
    </p>
    <ul>
        <li>Log In: <a target='_blank' href="http://crisiscleanup.org/admin/dashboard"> CrisisCleanup Admin </a> </li>
    </ul>

    <p>Thanks,</p>
    <p>Crisis Cleanup</p>
  </body>
</html>