<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Organization</th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td> 
          <%= user.name %> 
        </td>
        <td>
            <%= user.email %>
        </td>
        <td> 
          <%= user.legacy_organization.name %> 
        </td>
    <% end %>
  </tbody>
</table>