<% content_for :title do %>
    Crisis Cleanup - Contacts Index
<% end %>


<% content_for :subheader do %> 
<div class="subheader">
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
    <h2>Contacts<h2>
    <hr>
        </div>
    </div>    
</div>    
<% end %>

<% content_for :main do %> 
<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#contacts">All Organizations</a></li>
  <li class="tab-title"><a href="#org-users">My Organization</a></li>
</ul>
<div class="tabs-content">
  <div class="content active" id="contacts">
    <div id="main" class="alt">
        <div class="row">
            <%= render 'table', contacts: @contacts, event_id: @event_id %>
            <%= will_paginate @contacts %>  
        </div>       
    </div>    
  </div>
  <div class="content" id="org-users">
    <%= render 'users_table', users: @users %>
  </div>
</div>

<% end %>
    
    <% content_for :sidebar do %> 
<div id="sidebar">
    <h4>Info for Contacts</h4>
    <p>Bacon ipsum dolor amet biltong boudin ribeye doner strip steak bresaola meatball. T-bone meatloaf capicola pancetta beef ribs biltong andouille pig ham.</p>
</div>
<% end %>