<% content_for :title do %>
    Crisis Cleanup - Contacts Index
<% end %>


<% content_for :subheader do %> 
<div class="row subheader">
    <div class="small-12 medium-8 large-10 columns">
        <h2>Contacts<h2>
        <hr class="medium">
    </div>   
    <div class="small-12 medium-4 large-2 columns" align="center">
        <%= image_tag "characters/Tablet.png", :class => "character" ,:alt => "contacts"  %>
    </div>             
</div>    
<% end %>

<% content_for :main do %> 
<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#contacts">All Organizations</a></li>
  <li class="tab-title"><a href="#org-users">My Organization</a></li>
</ul>
<div class="tabs-content">
  <div class="content active" id="contacts">
    <div id="main" class="alt">
        <div class="row">
            <%= render 'table', contacts: @contacts, event_id: @event_id %>
            <%= will_paginate @contacts %>  
        </div>       
    </div>    
  </div>
  <div class="content" id="org-users">
    <%= render 'users_table', users: @users %>
  </div>
</div>

<% end %>
    
    <% content_for :sidebar do %> 
<div id="sidebar">
    <h4>Coordinate with Others</h4>
    <p>Use this information to coordinate with other organizations on work requests.</p>
</div>
<% end %>