.top-bar-section ul li {
    margin-bottom: 0;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
nav .top-bar-section {
    overflow-x: hidden;
}
.top-bar.expanded {
    height: 250px;
    z-index: 300;
    overflow-y: scroll;
    }
}