/* ADMIN DASHBOARD
   ----------------------------- */

/* GB START */
html,
body {
    width: 100%;
    height: 100%;
}

header {
    height: auto;
}

.name img {
    width: auto;
    margin-top: 2.5px;
    height: 40px;
    vertical-align: middle;
    margin-left: 20px;
}

nav li {
    margin-bottom:0px;
}

.alert_menu {
    border-style: solid;
    border-width: 1px;
    display: block;
    list-style: none;
    margin-left: 0;
    overflow: hidden;
    padding: 0.5625rem 0.875rem 0.5625rem;
    background-color: #f4f4f4;
    border-color: gainsboro;
    border-radius: 3px;
    text-align: center;
    width: 100%;
}

.subheader {
    padding-top: 20px;
    text-align: center;
    & h2 {
        color: $royal;
    }
}

/* GB END */

.top-bar {
    background: #333333;
    
}

#wrapper {
    max-width: 96%;
    margin-left: 2%;
    display: table;
}

.row {
    clear: both;
}
.columns {
    margin-bottom: 10px;
}

hr {
    width: 97%;
    margin-left: 1.5%;
    padding-top: 1rem;
}
.reveal-modal > :first-child {
    margin-left: 1.5%;
}

// Tables
#form_html {
    min-height: 500px;
}

input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
    margin: 0 5px 1rem 0;
}

label {
    margin-top: 5px;
}

.input.datetime.optional {
    & .custom-dropdown-area {
        margin: 0 0 10px 0;
    }
}

.f-dropdown.open {
    height: 250px;
    overflow: scroll;
    & li:hover {
        background: $royal;
        color: #fff;
    }
}
li.tab-title.active a {
    background: $royal;
    color: #fff;
}

// Media Queries
@media only screen and (max-width: 1024px) {
    .name img {
    margin-top: 0;
    }
}