/* ADMIN DASHBOARD
   ----------------------------- */

hr {
    width: 97%;
    margin-left: 1.5%;
    padding-top: 1rem;
}
.reveal-modal > :first-child {
    margin-left: 1.5%;
}

// Tables
#form_html {
    min-height: 500px;
}

input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
    margin: 0 5px 1rem 0;
}

label {
    margin-top: 5px;
}

.input.datetime.optional {
    & .custom-dropdown-area {
        margin: 0 0 10px 0;
    }
}