// Buttons
.button {
    color: #fff;
    transition: all 0.5s ease;
}

.button.yellow:hover {
    background-color: $mustard;
}

.button.orange:hover {
    background-color: $terra;
}

.button.red:hover {
    background-color: $maroon;
}

.button.green:hover {
    background-color: $forest;
}

.button.blue:hover {
    background-color: $royal;
}

.button.gray:hover {
    background-color: $coal;
}

.button.black:hover {
    background-color: $coal;
}

.button-group > li {
    margin-right: 5px;
}

// Dropdown
.dropdown-button-area {
    position: relative;
    & .button {
        width: 95%;
        margin-left: 2.5%;
    }
    & .f-dropdown {
        position: absolute;
        width: 95%;
        max-width: none;
        max-height: 200px;
        overflow-y: scroll;
            & li:hover, li a:hover {
                background: $royal;
                color: #fff;
            }
    }
}