// Color Palette
$off-white: #f0f0f0;
$goldenrod: #ffcc44;
$mustard: #dda100;
$berry: #d32519;
$maroon: #a2221b;
$pumpkin: #ee8a15;
$terra: #e45b17;
$jade: #419c38;
$forest: #006c37;
$baby: #41b7d8;
$royal: #1b84ce;
$clay: #919192;
$smoke: #5c5c5c;
$coal: #242424;
@import "icons/*.png";