// Color Blocks
.color-block,
.cta {
    margin: 20px 0 20px 0;
    padding: 20px 0 20px 0;
    & h2, h3, h4, p {
        margin-left: 13%;
    }
}

.color-block {
    & h2, h3, h4, p {
        color: #fff;
    }
}

.cta .columns .button {
    margin-top: 20px;
}

.white {
    color: $off-white;
}

.red,
.red .columns {
    background-color: $berry;
}

.orange,
.orange .columns {
    background-color: $pumpkin;
}

.yellow,
.yellow .columns {
    background-color: $goldenrod;
}

.green,
.green .columns {
    background-color: $forest;
}

.blue,
.blue .columns {
    background-color: $baby;
}

.gray,
.gray .columns {
    background-color: $smoke;
}

.black,
.black .columns {
    background-color: $coal;
}

// Buttons


.button.yellow:hover {
    background-color: $mustard;
}

.button.orange:hover {
    background-color: $terra;
}

.button.red:hover {
    background-color: $maroon;
}

.button.green:hover {
    background-color: $forest;
}

.button.blue:hover {
    background-color: $royal;
}

.button.gray:hover {
    background-color: $coal;
}

.button.black:hover {
    background-color: $coal;
}

.button-group > li {
    margin-right: 5px;
}