/* COLOR REGISTER
   ----------------------------- */

.white {
    color: $off-white;
}
.white-block {
    color: $off-white;
}

.red {
    color: $berry;
}
.red-block {
    background-color: $berry;
}

.orange {
    color: $pumpkin;
}
.orange-block {
    background-color: $pumpkin;
}

.yellow {
    color: $goldenrod;
}
.yellow-block{
    background-color: $goldenrod;
}

.mustard {
    color: $mustard;
}
.mustard-block {
    background-color: $mustard;
}

.green {
    color: $forest;
}
.green-block {
    background-color: $forest;
}

.blue {
    color: $baby;
}
.blue-block {
    background-color: $baby;
}

.gray {
    color: $smoke;
}
.gray-block {
    background-color: $smoke;
}

.black {
    color: $coal;
}
.black-block {
    background-color: $coal;
}

// Buttons
.button.yellow:hover {
    background-color: $mustard;
}

.button.orange:hover {
    background-color: $terra;
}

.button.red:hover {
    background-color: $maroon;
}

.button.green:hover {
    background-color: $forest;
}

.button.blue:hover {
    background-color: $royal;
}

.button.gray:hover {
    background-color: $coal;
}

.button.black:hover {
    background-color: $coal;
}

.button-group > li {
    margin-right: 5px;
}