@media only screen and (max-width: 40.0624em) {
nav .top-bar-section li:not(.has-form) a:not(.button) {
        height: 100%;
        line-height: 1.75rem;
    }
    nav .top-bar-section {
        width: 100%;
        height: 250px;
        overflow-y: scroll;
    }    
}