<% content_for :title do %>
    Crisis Cleanup - Settings
<% end %>

<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <h2>Site Settings</h2>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    There currently aren't any supported site settings.
  </div>
</div>