<table>
  <thead>
    <tr>
      <th width="200">Name</th>
      <th width="150">City</th>
    </tr>
  </thead>
  <tbody>
    <% orgs.each do |org| %>
      <tr>
        <td>
          <a href=<%=incident_legacy_organization_path(org.id)%>> 
            <%= org.name %>
          </a>
        </td>
        <td> <%= org.city %> </td>
      </tr>
    <% end %>
  </tbody>
</table>