<% content_for :title do %>
    Crisis Cleanup - Edit Site
<% end %>

<div class="row">
  <div class="small-12 medium-7 large-8 columns">
    <h2>Edit Legacy Site</h2>
    <p><em>Disabled until we revisit the admin.</em></p>
  </div>
</div>
