<div class="row">
    <div class="small-12 medium-7 large-8 columns">
    <h2>Edit Legacy Site</h2>
    </div>            
    <div class="small-12 medium-5 large-4 columns" align="right">    
    <ul class="tabs" data-tab role="tablist">
      <li class="tab-title active" role="presentation"><a href="#panel2-1" role="tab" tabindex="0" aria-selected="true" aria-controls="panel2-1">Edit</a></li>
      <li class="tab-title" role="presentation"><a href="#panel2-2" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-2">Versions</a></li>
    </ul>
    </div>
</div>
<div class="tabs-content">
  <section role="tabpanel" aria-hidden="false" class="content active" id="panel2-1">
    <%= render 'form', site: @site, url: @site.id.present? ? admin_legacy_site_path(@site.id) : admin_legacy_sites_path %>
  </section>
  <section role="tabpanel" aria-hidden="true" class="content" id="panel2-2">
    <%= render 'versions', versions: @versions%>
  </section>
</div>