<div class="margin-top row">
	<div class="small-12 large-12 columns">
		<a href=<%=new_admin_legacy_site_path%> class="button">New Legacy Site</a>
	</div>
	<div class="small-12 large-12 columns">
		<%= render 'table', sites: @sites %>
	</div>
</div>