<% content_for :title do %>
    Crisis Cleanup - New Site
<% end %>

<div class="row">
    <div class="small-12 medium-12 large-12 columns">
        <h2>New Legacy Site</h2>
    </div>
<hr>
</div>
<div class="row">
    <div class="small-12 medium-12 large-12 columns">
        <%= render 'form', site: @site, url: admin_legacy_sites_path %>
    </div>
</div>