@import "modules/foundation_and_overrides";
@import "modules/multi-select";
@import "modules/helpers";
@import "modules/color_palette";
@import "modules/typography";
@import "modules/color_blocks";
@import "modules/buttons";
@import "modules/nav_dropdown_mobile";
.public {
    @import "public_pages/static_pages";
    @import "public_pages/registration";
}

.worker-dashboard,
.incident {
    @import "incident_pages/user";
}

.admin-dashboard {
    @import "admin_pages/dashboard";
    @import "admin_pages/form";
}

.map {
    @import "incident_pages/map";
    @import "incident_pages/map_search";
}

@import "compass";
@import 'foundation-icons';
@import "font-awesome-sprockets";
@import "font-awesome";

/* GLOBAL STYLES
   ----------------------------- */

// page containers
html,
body {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 767px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

// header
header {
    height: auto;
}

// logo
.name img {
    width: auto;
    height: 40px;
    margin-top: 2.5px;
    vertical-align: middle;
    margin-left: 20px;
}

// removes nav margin-bottom for alert_menu width
.top-bar li {
    margin-bottom: 0;
}

// foundation overrides for rows/columns
.row {
    clear: both;
    max-width: 100%!important;
    /* offsets default 62.5em default */
}

.columns {
    margin-bottom: 10px;
}

// gray bar below nav for site-wide announcements
.alert_menu {
    width: 100%;
    height: auto;
    border-style: solid;
    border-width: 1px;
    display: block;
    list-style: none;
    margin-left: 0;
    /* overflow: hidden; */
    padding: 0.5625rem 0.875rem 0.5625rem;
    background-color: #f4f4f4;
    border-color: gainsboro;
    border-radius: 3px;
    text-align: left;
    & .alert_container {
        margin: 0;
        padding: 0;
        text-align: left;
        & .alert-box {
            padding: 5px 25px 5px 10px;
            margin: 0;
            width: 95%;
            & .alert {
                color: #fff;
                /* TEMP FIX */
            }
            & a:link {
                color: rgba(255, 255, 255, .5);
            }
            & a:hover {
                color: #fff;
            }
            & .subtext {
                color: rgba(255, 255, 255, .5);
            }
        }
        & p {
            padding: 0;
            margin: 0;
        }
        & form {
            width: 100%;
        }
        & label {
            margin: 0;
        }
        & select {
            margin: 0;
            display: inline-block!important;
        }
        & .custom-dropdown-area {
            display: none;
        }
    }
}

// sign-in notification
p.notice {}

//page title and subtitle section
.subheader {
    padding-top: 20px;
    text-align: left;
    & h2 {
        color: $royal;
    }
}

// map requirements
.map-wrapper {
    position: relative;
}

.loading {
    background-image: image-url('loading.gif');
    height: 25%;
    width: 25%;
    z-index: 100;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: .6;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 40%;
    border-radius: 300px;
}

// form section hide/show
.hide_button,
.unhide_button {
    float: right;
    margin: 0 0 0 5px;
    padding: 5px 10px 5px 10px;
}

// tabs
.tabs dd.active a,
.tabs .tab-title.active a {
    background: $royal;
    color: #fff;
}

// characters
.character {
    width: auto;
    height: 125px;
    margin-left: auto;
    margin-right: auto;
}

// legend 
#legend_popout {
    z-index: 2;
    position: absolute;
    left: 0;
    margin-top: -214px;
    background-color: #ffffff;
    padding: 0px;
    max-width: 200px;
    border-top: 2px solid #5c5c5c;
    border-right: 2px solid #5c5c5c;
    transition: 1s;
}

#legend_open {
    z-index: 2;
    left: 0;
    margin-top: -210px;
    padding: 0;
    width: 20px;
    position: absolute;
    z-index: 1;
}

#legend_close {
    padding: 0;
    margin: 0;
    width: 20px;
    position: absolute;
    right: 0;
    height: auto;
    color: black;
    background-color: white;
}

#legend_close:hover {
    color: #1b84ce;
}

// .legend {
//   z-index: 2;
//   position: absolute;
//   left: 0;
//   margin-top: -214px;
//   background-color: #ffffff;
//   padding: 0px;
//   max-width: 200px;
//   border-top: 2px solid #5c5c5c;    
//   border-right: 2px solid #5c5c5c;    
// }
// generate random temporary password 
.temporary_password {
    color: #43AC6A;
    font-size: x-large;
}

// registration forms template
.registration_form_template input {
    width: 370px;
}

.registration_form_template .button {
    width: auto;
}

// footer
footer {
    background: $coal;
    clear: both;
    height: auto;
    width: 100%;
    & #footer_row {
        max-width: 95%;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    & .footer-logo {
        color: #fff;
        text-align: center;
        & a:link,
        a:visited {
            color: $goldenrod;
        }
        & .sms-icons {
            list-style-type: none;
            & li {
                display: inline;
                margin-right: 5px;
            }
            & i {
                color: $baby;
                font-size: 30px;
                background: #fff;
                padding: 10px;
                border-radius: 50%;
                width: 50px;
                transition: all ease-in-out .5s;
            }
            & i:hover {
                background: $coal;
                color: $goldenrod;
            }
        }
    }
    & img {
        width: 65%;
        height: auto;
        margin: 3% 0 5px 0;
    }
    & .medium-8 .medium-4.columns {
        border-left: 1px solid rgba(255, 255, 255, .2);
        height: 350px;
        margin-bottom: 0;
        & h4 {
            color: rgba(255, 255, 255, .8);
            margin-top: 10px;
        }
        & p {
            color: rgba(255, 255, 255, .5);
            font-size: 14px;
            & span {
                color: rgba(255, 255, 255, .75);
            }
        }
        & i {
            color: $goldenrod;
            font-size: 50px;
            margin-top: 20px;
        }
        & a:link,
        a:visited {
            color: #1b84ce;
        }
        & a:hover {
            color: $baby;
        }
    }
}

#copyright {
    background: $coal;
    color: #fff;
    max-width: 100rem;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, .2);
    padding: 15px 0 10px 0;
    & .columns p {
        margin: 0;
    }
    & ul {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    & ul li {
        list-style-type: none;
        display: inline;
    }
    & a:link,
    a:visited {
        color: $goldenrod;
    }
}

// media queries
@media screen and (min-width: 1024px) {
    .top-bar-section li.active:not(.has-form) a:not(.button) {
        background: #008CBA;
        color: #FFFFFF;
        line-height: 2.8125rem;
        padding: 0 0.9375rem;
    }
}

@media screen and (max-width: 752px) {
    .alert_menu .alert_container .alert-box {
        width: 100%;
    }
}

@media screen and (min-width: 641px) and (max-width: 1024px) {
    footer {
        & .medium-8 .medium-4.columns {
            height: auto;
        }
        & h4 {
            font-size: large;
        }
        & p {
            font-size: 11px;
        }
    }
}

@media screen and (max-width: 640px) {
    // foundation breakpoint for phone/phablet
    footer {
        & .medium-8 .medium-4.columns {
            border-left: none;
            border-top: 1px solid rgba(255, 255, 255, .2);
            height: auto;
            padding-bottom: 20px;
        }
    }
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: #353536;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

.custom-panel {
    @include panel( // Sets the panel background color. Default: $panel-pg
    $bg: white, // Sets the panel padding amount. Default: $panel-padding
    $padding: 10px, // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    $adjust: true)
}

.site-card>p {
    font-size: 12px;
    margin: 0px;
}

.getting-started {
    color: #000000;
}

.accordion .accordion-navigation,
.accordion dd {
    margin: 5px !important;
}

//The accordion is closed
.accordion-icon:before {
    content: "\f0d7";
}

//The accordion is open
.active .accordion-icon:before {
    content: "\f0d8";
}


/*==================================================================================================*/