<div class="row">
    <div class="small-12 medium-7 large-8 columns">
        <h2>Edit Legacy Organization</h2>
    </div>
    <div class="small-12 medium-5 large-4 columns">
        <ul class="tabs" data-tab>    
            <li class="tab-title active"><a href="#edit-panel">Edit</a></li>
            <li class="tab-title"><a href="#versions">Previous Versions</a></li>
        </ul>
    </div>
<hr>    
</div>    
<div class="row">
    <div class="small-12 medium-12 large-12 columns">
		<%= render 'form', org: @org, url: @org.id.present? ? admin_legacy_organization_path(@org.id) : admin_legacy_organizations_path %>
    </div>
    <div class="small-12 medium-12 large-12 columns">
    	<%= render 'versions', versions: @versions%>
	</div>
</div>