<div class="margin-top row">
	<div class="small-12 large-12 columns">
		<a href=<%=new_admin_legacy_organization_path%> class="button">New Legacy Organization</a>
	</div>
	<div class="small-12 large-12 columns">
		<%= render 'table', orgs: @orgs %>
	</div>
	<%= will_paginate @orgs %>
</div>