<div class="row">
	<div class="small-12 medium-7 large-8 columns">
        <h2>Legacy Organization Dashboard</h2>
    </div>
    <div class="small-12 medium-5 large-4 columns">
		<a href=<%=new_admin_legacy_organization_path%> class="button">New Legacy Organization</a>
	</div>
<hr>
<div class="row">
	<div class="small-12">
		<label for="verified_select">Verified</label> 
        <select id="verified_select" name="verified_select">
        	<option value="True">True</option>
        	<option value="False">False</option>
        </select>
        <label for="active_select">Active</label> 
        <select id="active_select" name="active_select">
        	<option value="True">True</option>
        	<option value="False">False</option>
        </select>
        <br>
        <a id="organization_filters_button" class="button">Search</a>
    </div>
<hr>
</div>
<div class="row">
	<div class="small-12 medium-12 large-12 columns">
		<%= render 'table', orgs: @orgs %>
        <%= will_paginate @orgs %>
	</div>
</div>
