<% content_for :title do %>
    Crisis Cleanup - New Organization
<% end %>

<div class="row">
    <div class="small-12 medium-12 large-12 columns">
        <h2>New Legacy Organization</h2>
    </div>
    <hr>
</div>
<div class="row">
    <div class="small-12 medium-12 large-12 columns">
        <%= render 'form', org: @org, url: admin_legacy_organizations_path %>
    </div>
</div>        