<p>Hello <%= @resource.email %>!</p>

<p>Someone has clicked "Forgot Password" on Crisis Cleanup, and entered your email address. You may change your password by clicking on the link below:</p>

<p><%= link_to 'Reset Password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new one.</p>
