<% content_for :title do %>
    Crisis Cleanup - Users Index
<% end %>

<div class="row">
	<div class="small-12 medium-7 large-8 columns">
		<h2>Legacy User Dashboard</h2>
    </div>
    <div class="small-12 medium-5 large-4 columns">
		<a href=<%=new_admin_user_path%> class="button">New Legacy User</a>
    </div>
<hr>    
</div>
<div class="row">
  <%= render 'templates/grid_base' %>
  <script type="text/x-template" id="detail-row-template">
    <div @click="onClick">
      <dl>
        <dt>ID:</dt>
        <dd>{{rowData.id}}</dd>
        <dt>Role:</dt>
        <dd>{{rowData.role}}</dd>
        <dt>Title:</dt>
        <dd>{{rowData.title}}</dd>
        <dt>Mobile:</dt>
        <dd>{{rowData.mobile}}</dd>
        <dt>Admin:</dt>
        <dd>{{rowData.admin}}</dd>
        <dt>Accept Terms:</dt>
        <dd>{{rowData.accepted_terms}}</dd>
        <dt>Accept Terms Timestamp:</dt>
        <dd>{{rowData.accepted_terms_timestamp}}</dd>
      </dl>
    </div>
  </script>
  <div id="users-table">
    <my-view-table
    api-url="<%= admin_users_path(:format => :json) %>"
    filter-placeholder="Name or Email"
    :fields="fields"
    :sort-order="sortOrder"
    detail-row-component="detail-row"
    >
      <template slot="actions" scope="props">
        <div class="custom-actions">
          <button class="button tiny"
                  @click="onAction('edit-item', props.rowData, props.rowIndex)">
            Edit
          </button>
        </div>
      </template>
    </my-view-table>
  </div>
</div>