<div class="row">
    <div class="small-12 medium-12 large-12 columns">
        <h2>New Legacy User</h2>
    </div>
<hr>
</div>
<div class="row">
    <div class="small-12 medium-12 large-12 columns">    
        <%= render 'form', user: @user, url: admin_users_path %>
    </div>
</div>