<modal v-if="showModal" v-cloak>
  <h5 slot="header">Download Report</h5>
  <div slot="body">
    <p>Your state government does not have a premium account. Please have someone from the state contact <a href="mailto:help@crisiscleanup.org">help@crisiscleanup.org</a> to get a premium account.</p>
    <button v-on:click="closeModal" class="button small modal-default-button">Close</button>
  </div>
</modal>
