<div class="small-2 large-3 columns reports-item">
  <h5>Teammates Invited and Active</h5>

  <div class="reports--image">
    <div class="icon-pie-chart"></div>
  </div>

  <div class="reports--details">
    <div class="details">
      <p><strong>Type(s):</strong></p>
      <p>Numbers that link to a table report showing details; Stacked Line or Bar Chart</p>
    </div>

    <div class="details">
      <p><strong>Variables:</strong></p>
      <p>X: Days. Y: Number of worksites. On Y axis, a stacked running total of open versus closed claimed worksites.</p>
    </div>

  </div>


  <div class="reports--actions">
    <div class="action">
      <a href="#" id="download-sample-button">Preview Sample</a>
    </div>
    <div class="action">
      <a href="#" class="button small" id="download-report-button">Download</a>
    </div>
  </div>
</div>
