<% content_for :title do %>
  Crisis Cleanup - Report Dashboard
<% end %>
<% content_for :subheader do %>
  <div class="row">
    <div class="large-12 columns">
      <h2 class="center">Crisis Cleanup Reports</h2>
    </div>
  </div>
<% end %>
<% content_for :main do %>
  <div class="row">
    <div class="large-12 medium-12 columns">
      <div class="row">
        <div class="large-12 columns">
          <h5 class="center">Standard Reports</h5>
          <div class="panel center">
            <h4>Download</h4>
            <a href="#" class="button tiny" id="download-csv-btn" style="margin-left: 13px;">CSV</a>
            <p><em>Note: CSV does not include Damage Assessments (DAs). To convert a DA to a work order, edit the DA on the map and change the "Primary Help Needed" to something like "Flood."</em></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <h5 class="center">Premium Reports</h5>
          <div class="panel">
            <div class="row reports">

            <%= render 'report_item' %>
            <%= render 'report_item' %>
            <%= render 'report_item' %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
