<% content_for :title do %>
    Crisis Cleanup - Sign in with temporary password
<% end %>
        
<% content_for :main do %>
	<div class="row">
		<div class='small-12 medium-12 large-12 columns'>
        	<h3>Use a temporary password</h3>		
		</div>
	</div>
	<div class="row">
		<div class='small-12 medium-12 large-12 columns'>
	       <%= render 'form', org: @request_invitation, url: '/request_invitation' %>
        </div>
</div>
<%end%>