<% content_for :title do %>
    Crisis Cleanup - Import Sites
<% end %>

<div class="row">
  <div class="small-12 column">

  <h2>Import Sites</h2>

    <%= form_tag api_import_csv_path, multipart: true do %>
      <div class="row">
        <div class="small-12 column">
          <%= file_field_tag :file %>
        </div>
        <div class="small-12 column">
          <%= select_tag "event_id", options_from_collection_for_select(Legacy::LegacyEvent.all, "id", "name") %>
        </div>
        <div class="small-12 column">
          <label>Duplicate Check Method
            <select name="duplicate_check_method" id="duplicate_check_method">
              <option value="lat_lng">Latitude and Longitude</option>
              <option value="name_lat_lng">Name, Latitude and Longitude</option>
            </select>
          </label>
        </div>
        <div class="small-12 column">
          <label>Handle Duplicates Method
            <select name="handle_duplicates_method" id="handle_duplicates_method">
              <option value="replace_all">Replace All</option>
              <option value="references_only">Reported by and Claimed by references only</option>
              <option value="references_and_work_type">Work type, Reported by and Claimed by references only</option>
            </select>
          </label>
        </div>
        <div class="small-12 column">
          <%= submit_tag "Import", class: "button" %>
        </div>
      </div>
    <% end %>

  </div>
</div>
